{% extends "_base.html" %}}
{% load widget_tweaks %}
{% load static %}
{% block title %}
Packages/Libraries
{% endblock title %}
{% block main %}
<div class="section-header section-sm text-white bg-secondary overflow-hidden">
</div>
<section class="container py-4" style="min-height: 50em">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-soft border-light pt-3 pr-5 pb-3 pl-4">
                <form action="{% url 'package_list' %}" novalidate>
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                {% render_field form.q class="form-control" placeholder="Tên package" %}
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 mb-3 mb-lg-0">
                            {% render_field form.topic class="custom-select border mr-sm-2" %}
                        </div>
                        <div class="col-12 col-lg-3 mb-3 mb-lg-0">
                            {% render_field form.sort class="custom-select border mr-sm-2" %}
                        </div>
                        <div class="col-12 col-lg-2"><button class="btn btn-secondary ml-lg-3 animate-up-1" type="submit">Tìm kiếm</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row pt-4">
        {% include "packages/includes/list_repostories.html" %}
    </div>
    <div class="my-3">
        <nav>
            <ul class="pagination circle-pagination repo-page">
            </ul>
        </nav>
    </div>
</section>
{% endblock main %}
{% block scripts %}
<script>
    $(function() {

        var page = {{ current_page }};

        function get_full_path(n) {
            let href = new URL('{{ request.build_absolute_uri }}');
            href.searchParams.set('page', n);
            return href.href
        }

        function get_page_item(repoPage) {
            let pagina = $('.repo-page');

            for (let p in repoPage) {
                let item = '';
                let n = repoPage[p];
                if (typeof n == "number" && page == n) {
                    item = `<li class="page-item active"><a class="page-link" href="${ get_full_path(n) }">${ n }</a></li>`
                } else if (typeof n == "number") {
                    item = `<li class="page-item"><a class="page-link" href="${ get_full_path(n) }">${ n }</a></li>`
                } else {
                    item = `<li class="page-item"><a class="page-link">${ n }</a></li>`
                }
                pagina.append(item)
            }
        }

        function pagination(c, m) {
            var current = c,
                last = m,
                delta = 2,
                left = current - delta,
                right = current + delta + 1,
                range = [],
                repoPage = [],
                l;

            for (let i = 1; i <= last; i++) {
                if (i == 1 || i == last || i >= left && i < right) {
                    range.push(i);
                }
            }

            for (let i of range) {
                if (l) {
                    if (i - l === 2) {
                        repoPage.push(l + 1);
                    } else if (i - l !== 1) {
                        repoPage.push('...');
                    }
                }
                repoPage.push(i);
                l = i;
            }

            return repoPage;
        }

        get_page_item(pagination(page, 34));

    });
</script>
{% endblock scripts %}