{% extends "_base.html" %}
{% load course_tag %}
{% load static %}

{% block title %}
{{ course.title }}
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'vendor/prism/css/prism.min.css' %}">
<script src="{% static 'vendor/prism/js/prism.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'vendor/markdown/simplemde.min.css' %}">
{% endblock stylesheet %}

{% block main %}
<div class="section-header section-sm text-white bg-secondary overflow-hidden">
</div>
<a href="#doc-index" class="btn btn-lg btn-secondary btn-block rounded-0 d-lg-none" data-toggle="collapse" data-target="#doc-index" aria-expanded="false" aria-controls="doc-index">
    <i class="fas fa-bars"></i>
    <span class="h6 text-white">Menu</span>
</a>
<section class="container-fluid py-4">
    <div class="row">

        <div class="col-12 col-lg-2 border-right pt-3 pt-md-3 doc-sidebar">
            <div id="doc-index" class="collapse">
                <div class="post-group d-none d-lg-flex flex-column align-items-center mb-4">
                    <a class="text-center" href="{{ course.get_absolute_url }}">
                        <i class="fab fa-lg fa-readme"></i>
                        <div class="font-small text-center">
                        {{ course.title }}
                        </div>
                    </a>
                </div>
                <hr>
                {% for part in course.parts.all %}
                <div class="mb-3 mb-md-4">
                    <a href="#panel-{{ part.pk }}" data-target="#panel-{{ part.pk }}" class="accordion-panel-header mb-2" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="panel-{{ part.pk }}">
                        <span class="icon-title h6 mb-0 font-weight-bold">{{ part.title }}</span>
                        <span class="icon"><i class="fas fa-plus"></i></span>
                    </a>
                    {% if post %}
                    <div class="collapse {% if part in post.parts.all %}show{% endif %}" id="panel-{{ part.pk }}">
                        <ul class="nav flex-column {% if user == course.owner %}post-content{% endif %}">
                            {% posts_of_part part.id %}
                        </ul>
                    </div>
                    {% else %}
                    <div class="collapse {% if forloop.first %}show{% endif %}" id="panel-{{ part.pk }}">
                        <ul class="nav flex-column {% if user == course.owner %}post-content{% endif %}">
                           {% posts_of_part part.id %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>  
        </div>
        
        <div class="col-12 col-lg-10">
            <div class="row">
                <div class="col-xl-10 col-lg-9 px-xl-5 px-lg-3 px-md-3 py-md-5 post-detail">
                    {% block post_detail %}
                        
                    {% endblock post_detail %}
                </div>
			
                <div class="col-xl-2 col-lg-3 d-none d-lg-block py-md-1 doc-sidebar border-left">
	            	{% if post %}
                    <div class="sticky">
                        <div class="card shadow-soft border-light my-4">
                            <div class="m-2">
                                <h5 class="font-weight-bold">Nội dung:</h5>
                                <div class="" id="myScrollspy">
                                  <ul class="pl-4 ">
                                    {% for module in post.modules.all %}
                                    <li>
                                      <a class="nav-link module-post {% if forloop.first %}active{% endif %} pl-0" href="#module-{{ module.pk }}">{{ module.title }}</a>
                                    </li>
                                     {% endfor %}
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                   	<div class="card shadow-soft border-light">
			            <img src="{{ course.image.url }}" class="card-img-top" alt="image">
			            <div class="text-center mb-3 mt-3">
                            {% if course.price %}
			            		<h5 class="mt-3">Mua toàn bộ {{ course.parts.count }} phần</h5>
		            			<span class="d-block my-3"><span class="display-2 font-weight-bold"><span class="align-baseline font-medium">$</span>{{ course.price|floatformat:"0" }} </span></span>
		                        <a class="btn btn-sm btn-warning animate-up-2 p-2" href=""><span class="fas fa-shopping-cart mr-2"></span> Mua khóa học</a>
		                    {% else %}
		                        <a type="button" href="https://www.buymeacoffee.com/7HqOnut" target="_blank" class="btn btn-sm btn-danger animate-up-2 p-2 text-white"><span class="fas fa-lg fa-mug-hot mr-2"></span> Buy me a coffee</a>
		                    {% endif %}
			            </div>
			        </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock main %}

{% block scripts %}
<script src ="{% static 'js/comment.min.js' %}"></script>
<script src="{% static 'vendor/markdown/simplemde.min.js' %}"></script>

<script>
//  Sortable Post in Part
$(".post-content").sortable({
    stop: function(event, ui){
        posts_order = {};

        $(event.target).children().each(function(){
            posts_order[$(this).data("id")] = $(this).index();
        });
       
         $.ajax({
            type: 'POST',
            url: '{% url 'post_order' course.slug %}',
            dataType: 'json',
            data: JSON.stringify(posts_order),
        })
    }
});

var t = new SimpleMDE({
    element: $(".simplemde-0")[0],
    showIcons: ["code"],
});

$("#js-comment-form").on("submit", function() {
    let e = $(this);
    return e.find("textarea").val(t.value()), $.ajax({
        type: e.attr("method"),
        url: e.attr("action"),
        dataType: "json",
        data: e.serialize(),
        success: function(e) {
            e.is_valid && ($("#id_content").val(""), t.value(""), $(".comment-list").prepend(e.html_comment), $("#js-num-comments").html(e.num_comments))
        }
    }), !1
});
var e = function() {
        var t = $(this);
        $.ajax({
            url: t.attr("data-url"),
            dataType: "json",
            type: "get",
            success: function(t) {
                $(".comment-action").html(t.html_form)
            }
        })
    },
    a = function() {
        let t = $(this);
        return $.ajax({
            url: t.attr("action"),
            dataType: "json",
            type: t.attr("method"),
            data: t.serialize() + "&page=" + $(".js-load-comment").data("page"),
            success: function(t) {
                t.is_valid && ($(".modal-backdrop").remove(), $("#modal-comment").hide(),
                $(".comment-list").html(t.html_data), $("#js-num-comments").html(t.num_comments))

            }
        }), !1
    };
$(".comment-list").on("click", ".js-update-comment", e), $(".comment-list").on("submit", "#js-update-comment-form", a), $(".comment-list").on("click", ".js-remove-comment", e), $(".comment-list").on("submit", "#js-remove-comment-form", a);
var n = function() {
    var t = $(this);
    return $.ajax({
        url: t.attr("data-url"),
        type: "post",
        dataType: "json",
        success: function(e) {
            t.closest(".like-content").html(e.html_data)
        }
    }), !1
};
$(".comment-list").on("click", ".js-like-comment", n), $(".comment-list").on("click", ".js-dislike-comment", n), $(".comment-list").on("click", ".js-reply-submit", function() {
    var t = $(this),
        e = t.closest(".id_reply").children(":first");
    return $.ajax({
        url: t.attr("data-url"),
        type: "post",
        dataType: "json",
        data: {
            content: e.val()
        },
        success: function(a) {
            a.is_valid && (e.val(""), $(".id_reply").removeClass("show"), t.closest(".comments").after(a.html_data))
        }
    }), !1
}), $(".js-load-comment").on("click", function() {
    var t = $(this),
        e = t.data("page");
    return $.ajax({
        url: t.data("url"),
        type: "post",
        dataType: "json",
        data: {
            page: e
        },
        beforeSend: function() {
            t.attr("disabled", !0), $(".js-loading").text("Loading..."), $(".js-icon-loading").show()
        },
        success: function(a) {
            a.is_valid ? (a.has_next ? t.data("page", e + 1) : t.hide(), setTimeout(function() {
                $(".comment-list").append(a.html_data), t.attr("disabled", !1), $(".js-icon-loading").hide(), $(".js-loading").text("Xem thêm bình luận")
            }, 1e3)) : t.hide()
        }
    }), !1
});
</script> 
{% endblock scripts %}