{% extends "_base.html" %}
{% load static %}
{% load thumbnail %}
{% load user_tag %}
{% block title %}
{{ post.title }}
{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'vendor/prism/css/prism.min.css' %}">
<script src="{% static 'vendor/prism/js/prism.min.js' %}"></script>
{% endblock stylesheet %}
{% block main %}
<div class="section section-md section-image overlay-dark text-white overflow-hidden" style="background-image: url('{% static 'img/pages/page-blog-detail.jpg' %}')"></div>
<div class="section section-sm pt-4">
    <div class="container">
        <div class="row justify-content-between">
            {% include "blog/includes/aside.html" %}
            <div class="col-12 col-lg-9 px-md-3 py-md-5">
                <article>
                    <header>
                        <div class="row">
                            <div class="col-12 col-lg-2">
                                <div class="post-group d-none d-lg-flex flex-column align-items-center">
                                    <a href="" class="text-center">
                                        {% if post.owner.photo %}
                                        {% thumbnail post.owner.photo '48x48' crop="center" as im %}
                                        <img class="avatar-lg avatar-sm-lg img-fluid rounded-circle mb-2" src="{{ im.url }}" alt="{{ post.owner.username }}">
                                        {% endthumbnail %}
                                        {% else %}
                                        <div class="avatar-lg img-fluid rounded-circle mb-2 {{ post.owner|bg_color }} post-user ml-3">{{ post.owner.get_word_avatar }}</div>
                                        {% endif %}
                                        <div class="font-small text-center"><span class="text-gray">By</span> {{ post.owner.username }}</div>
                                    </a>
                                </div>
                                <div class="d-flex align-items-center d-lg-none mb-4">
                                    <a href="./profile.html" class="font-small font-weight-bold mr-2">
                                        {% if post.owner.photo %}
                                        {% thumbnail post.owner.photo '24x24' crop="center" as im %}
                                        <img class="avatar-sm img-fluid rounded-circle mr-2" src="{{ im.url }}" alt="{{ post.owner.username }}"> {{ post.owner.username }}
                                        {% endthumbnail %}
                                        {% else %}
                                        <div class="media">
                                            <div class="avatar-sm mr-1">
                                                <div class="avatar-lg img-fluid rounded-circle mb-2 bg-danger user-photo ml-3">{{ post.owner.get_word_avatar }}</div>
                                            </div>
                                            <div class="avatar-name">
                                                <a class="text-gray small" href="#">{{ post.owner.username }}</a>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-10">
                                <h1 class="mb-2">{{ post.title }}</h1>
                                <div class="d-flex justify-content-between">
                                    <div class="post-meta mt-2">
                                        <a class="mr-3"><i class="far text-black fa-eye mr-2"></i>{{ post.views }}</a>
                                        <span class="font-small"><i class="far fa-clock text-info mr-2"></i>{{ post.created|date:"d/m/Y" }}</span>
                                        <a class="ml-3 reading-time"><i class="far text-black fa-eye mr-2 "></i></a>
                                    </div>
                                    <div id="js-form-like">
                                        {% include "blog/includes/form_like.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="post-detail">
                        <div class="my-5">
                            <p>
                                {{ post.overview|safe }}
                            </p>
                        </div>
                        {% comment "socials" %}
                        <div class="justify-content-between align-items-center d-none d-md-flex">
                            <div class="mr-3">
                                <button class="btn btn-sm platform mr-2 mb-2 btn-icon btn-outline-tertiary" data-platform="linux" type="button">
                                    <span class="btn-inner-icon"><i class="fab fa-linux"></i></span>
                                    <span class="btn-inner-text">Linux</span>
                                </button>
                                <button class="btn btn-sm platform mr-2 mb-2 btn-icon btn-outline-info" data-platform="windows" type="button">
                                    <span class="btn-inner-icon"><i class="fab fa-windows"></i></span>
                                    <span class="btn-inner-text">windows</span>
                                </button>
                                <button class="btn btn-sm platform mr-2 mb-2 btn-icon btn-outline-gray" data-platform="mac" type="button">
                                    <span class="btn-inner-icon"><i class="fab fa-apple"></i></span>
                                    <span class="btn-inner-text">Mac</span>
                                </button>
                            </div>
                        </div>
                        {% endcomment %}
                        {% for module in post.modules.all %}
                        <h2 class="mt-5 mb-4" id="module-{{ module.pk }}">{{ module.title }}</h2>
                        <p>
                            {{ module.description|safe }}
                        </p>
                        {% endfor %}
                        <footer class="mt-5">
                            <aside class="row mb-4">
                                <div class="col-12">
                                    <h2 class="mb-4">Bài viết tương tự</h2>
                                    <div class="row">
                                        {% include "blog/includes/related_posts.html" %}
                                    </div>
                                </div>
                            </aside>
                        </footer>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
{% block scripts %}
<script>
$(function() {

    // Time read
    var txt = $(".post-detail")[0].textContent,
        wordCount = txt.replace(/[^\w ]/g, "").split(/\s+/).length;
    var readingTimeInMinutes = Math.floor(wordCount / 228) + 1;
    var readingTimeAsString = `<i class="mr-2 fas fa-bookmark"></i> ${readingTimeInMinutes} min read`;

    $('.reading-time').html(readingTimeAsString);

    // Submmit Like
    $('#js-form-like').on('submit', 'form#form-like', function() {
        let form = $(this);
        $.ajax({
            url: form.attr('action'),
            type: 'post',
            dataType: 'json',
            data: form.serialize(),
            success: function(data) {
                $('#js-form-like').html(data.html_form);
                $('.post-likes').html(`<i class="far text-danger fa-heart mr-2"></i> ${data.post_likes}`);
            }
        })
        return false;
    });

})
</script>
{% endblock scripts %}