{% extends "_base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
Blog
{% endblock title %}

{% block main %}
<div class="section section-md section-image overlay-dark text-white overflow-hidden" style="background-image: url('{% static 'img/pages/page-blog.jpg' %}')">
	<div class="container z-2">
		<div class="row">
			<div class="col-lg-8 col-xl-6">
				<h1 class="display-2 mb-3 mt-5">Blog</h1>
				<p class="lead">Bao gồm các ví dụ, chia sẻ và các hướng dẫn giải quyết những vấn đề thường gặp.</p>
			</div>
		</div>
	</div>
</div>
<div class="section pb-0 mb-0 section-md pt-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="card shadow-soft border-light pt-3 pr-5 pb-3 pl-4">
					<form action="">
						<div class="row d-flex align-items-center">
							<div class="col-12 col-lg-4 mb-3 mb-lg-0">
								<div class="input-group">
									<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-search"></i></span></div>
									{% render_field filter.form.query class="form-control" placeholder="Tìm kiếm" %}
									
								</div>
							</div>
							<div class="col-12 col-lg-3 mb-3 mb-lg-0">
								{% render_field filter.form.category class="custom-select border mr-sm-2" %}
							</div>
							<div class="col-12 col-lg-3 mb-3 mb-lg-0">
								{% render_field filter.form.select class="custom-select border mr-sm-2" %}
							</div>
							<div class="col-12 col-lg-2"><button type="submit" class="btn btn-secondary ml-lg-3 animate-up-1">Tìm kiếm</button></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section section-sm pt-4">
	<div class="container">
		<div class="row justify-content-between">
			{% include "blog/includes/aside.html" %}

			<div class="col-12 col-lg-9">

				{% include "blog/includes/post_list.html" %}
				
				{% include "includes/pagination.html" with page=posts %}

			</div>
		</div>

	</div>
</div>
{% endblock main %}
