{% load number_tags %}
{% load static %}
{% for repo in repositories %}
<div class="col-md-3 col-sm-6 my-2">
    <div class="card h-100 d-flex flex-column justify-content-between shadow-soft border-light" style="border-radius: .35rem;">
        <div class="card-body d-flex flex-column pb-0">
            <div class="media">
                <div class="avatar-lg mr-2">
                    <img class="img-fluid rounded-circle" src="{{ repo.owner.avatar_url }}" alt="avatar">
                </div>
                <p class="mt-2" style="position: relative;"><a target="_blank" href="{{ repo.html_url }}">{{ repo.name }}</a></p>
            </div>
            <p class="my-3">{{ repo.description|truncatewords:15 }}</p>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <div class="post-meta">
                    <a href="#" class="mr-3 small"><i class="fas fa-code-branch text-info mr-2"></i>{{ repo.forks|round_up }}</a>
                    <span class="small"><i class="fas fa-star text-warning mr-2"></i>{{ repo.stargazers_count|round_up }}</span>
                </div>
                <div class="mr-2">
                    <a class="btn btn-sm btn-info text-white" target="_blank" href="{{ repo.html_url }}" type="button">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}