{% load user_tag %}
{% load humanize %}
{% load thumbnail %}

<div class="infinite-item">
    <div class="bg-white border shadow-soft p-4 mb-4 comments">
        <div class="d-flex justify-content-between mb-4">
            <span class="font-small">
                <a>
                    {% if comment.user.photo %}
                        {% thumbnail comment.user.photo "24x24" crop="center" as im %}
                        <img class="avatar-sm img-fluid rounded-circle mr-2" src="{{ im.url }}" alt="avatar">
                        {% endthumbnail %}
                    {% else %}
                        <div class="user-photo {{ comment.user|bg_color }} mr-2" style="float: left">{{ comment.user.get_word_avatar }}</div>    
                    {% endif %}
                    <span class="font-weight-bold">{{ comment.user.username }}</span>
                </a>
                <span class="ml-2">{{ comment.created|naturaltime }}</span>
            </span>
            {% if request.user == comment.user %}
            <div class="btn-group">
                <button class="btn btn-link dropdown-toggle" type="button" id="dropdown-{{ comment.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
                <div class="dropdown-menu" aria-labelledby="dropdown-{{ comment.id }}" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 30px, 0px);">
                    <a class="dropdown-item js-update-comment text-info" data-toggle="modal" data-target="#modal-comment" data-url="{% url 'comment_update' comment.id %}"><i class="fas fa-edit mr-2"></i> Sửa</a>
                    <a class="dropdown-item js-remove-comment text-danger" data-toggle="modal" data-target="#modal-comment" data-url="{% url 'remove_comment' comment.id %}"><i class="fa fa-trash mr-2"></i>Xóa</a>
                </div>
            </div>
            {% endif %}
        </div>
        <p class="m-0">
            {{ comment.get_content_as_markdown }}
        </p>
        <div class="mt-4 mb-3 d-flex justify-content-between">
            <div class="like-content">
                {% include "blog/comment/includes/like.html" %}
            </div>

            {% if request.user.is_authenticated %}
                <a class="text-action font-weight-light font-small" data-toggle="collapse" role="button" href="#reply{{ comment.id }}" aria-expanded="false" aria-controls="reply{{ comment.id }}"><i class="fa fa-reply mr-2"></i> Trả lời</a>
            {% endif %}
        </div>

        <div class="collapse id_reply" id="reply{{ comment.id }}">
            <textarea class="form-control border" placeholder="Trả lời {{ comment.user.username }}" rows="6" maxlength="1000"></textarea>
            <div class="d-flex justify-content-between mt-3">
                <small class="font-weight-light">
                    Tối đa 1000 ký tự
                </small>
                <button data-url="{% url 'comment_reply' comment.id %}" class="btn btn-secondary btn-sm animate-up-2 js-reply-submit" type="button">Bình luận</button>
            </div>
        </div>

    </div>
    {% for reply in comment.replies.all %}
        {% include "blog/comment/reply.html" %}
    {% endfor %}
    
</div>