{% load widget_tweaks %}
<div class="modal-header">
    <h6 class="modal-title">Sửa bình luận</h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<form action="{% url 'comment_update' comment.id %}" method="post" id="js-update-comment-form">
	{% csrf_token %}
	<div class="modal-body">
	    {% render_field form.content class="form-control simplemde-edit" placeholder="Viết bình luận" rows="6" maxlength="1000" style="box-shadow: none" %}
	    
	    <script>
	    	var simplemde = new SimpleMDE({ element: $(".simplemde-edit")[0], spellChecker: false, showIcons: ["code"]});
	    	simplemde.render();

	    	$("#modal-comment").focus(function () {
            	simplemde.codemirror.refresh();
        	});
	    </script>
	</div>
	<div class="modal-footer">
	    <button type="submit" class="btn btn-sm btn-secondary">Lưu</button>
	    <button type="button" class="btn btn-link text-dark ml-auto" data-dismiss="modal">Quay lại</button>
	</div>
</form>

