{% for comment in comments %}
    {% include "blog/comment/detail.html" %}
{% endfor %}

<div class="modal fade" id="modal-comment" tabindex="-1" role="dialog" aria-labelledby="modal-comment" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content comment-action">
            
        </div>
    </div>
</div>