<div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">Xóa bình luận</h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body">
    <p>Bạn có chắc muốn xóa bình luận này?</p>
</div>
<div class="modal-footer">
    <form action="{% url 'remove_comment' comment.id %}" method="post" id="js-remove-comment-form">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-danger">Xóa</button>
    </form>
    <button type="button" class="btn btn-link text-dark ml-auto" data-dismiss="modal">Quay lại</button>
</div>