{% load user_tag %}
{% load humanize %}
{% load thumbnail %}
<div class="bg-white border shadow-soft p-4 ml-5 mb-4">
    <div class="d-flex justify-content-between mb-4">
        <span class="font-small">
            <a>
                {% if reply.user.photo %}
                    {% thumbnail reply.user.photo "24x24" crop="center" as im %}
                    <img class="avatar-sm img-fluid rounded-circle mr-2" src="{{ im.url }}" alt="avatar">
                    {% endthumbnail %}
                {% else %}
                    <div class="user-photo {{ reply.user|bg_color }} mr-2" style="float: left">{{ reply.user.get_word_avatar }}</div>    
                {% endif %}
                <span class="font-weight-bold">{{ reply.user.username }}</span>
            </a>
            <span class="ml-2">{{ reply.created|naturaltime }}</span>
        </span>
        {% if request.user == reply.user %}
        <div class="btn-group">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdown-{{ reply.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu" aria-labelledby="dropdown-{{ reply.id }}" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 30px, 0px);">
                <a class="dropdown-item js-update-comment text-info" data-toggle="modal" data-target="#modal-comment" data-url="{% url 'comment_update' reply.id %}"><i class="fas fa-edit mr-2"></i> Sửa</a>
                <a class="dropdown-item js-remove-comment text-danger" data-toggle="modal" data-target="#modal-comment" data-url="{% url 'remove_comment' reply.id %}"><i class="fa fa-trash mr-2"></i>Xóa</a>
            </div>
        </div>
        {% endif %}
    </div>
    <p class="m-0">
        {{ reply.get_content_as_markdown }}
    </p>
    <div class="mt-4 mb-3 d-flex justify-content-between">
        <div class="like-content">
            {% include "blog/comment/includes/like.html" with comment=reply %}
        </div>
    </div>
</div>