{% if post_pre %}
<a href="{% url 'part_detail' part.id post_pre.slug %}" class="btn mr-2 mb-4 btn-icon btn-outline-secondary" role="button">
    <span class="btn-inner-icon"><i class="fas fa-arrow-left"></i></span>
    <span class="btn-inner-text">{{ post_pre.title }}</span>
</a>
{% endif %}
{% if post_next %}
<a href="{% url 'part_detail' part.id post_next.slug %}" class="btn mr-2 mb-4 btn-icon btn-outline-secondary float-right" role="button">
    <span class="btn-inner-text">{{ post_next.title }}</span>
    <span class="btn-inner-icon"><i class="fas fa-arrow-right"></i></span>
</a>
{% endif %}
