{% load static %}
<footer class="footer section section-sm bg-soft text-dark">
	<div class="container">
		<div class="row align-items-md-center">
			<div class="col-md-4 mb-4 mb-md-0">
				<div class="d-flex align-items-center">
					<a class="footer-brand mr-3" href="{% url 'home' %}"><img src="{% static 'img/brand/dark.png' %}" alt="brand"> </a>
					<p class="small mb-0">hocdjango@gmail.com</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 mb-4 mb-sm-0">
				<ul class="list-inline list-group-flush list-group-borderless text-md-center mb-0">
					<li class="list-inline-item px-0 px-sm-2"><a class="text-gray" href="{% url 'home' %}">Trang chủ</a></li>
					<li class="list-inline-item px-0 px-sm-2"><a class="text-gray" href="{% url 'about' %}">Giới thiệu</a></li>
					<li class="list-inline-item px-0 px-sm-2"><a class="text-gray" href="{% url 'contact' %}">Liên hệ</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-4">
				<ul class="list-inline text-sm-right mb-0">
					<li class="list-inline-item"><a href="https://www.youtube.com/channel/UCAjNN6-iBsOjlwAf_2yQNSA" target="_blank" class="btn btn-link btn-youtube"><i class="fab fa-youtube"></i></a></li>
					<li class="list-inline-item"><a href="https://www.facebook.com/djangbat/" target="_blank" class="btn btn-link btn-facebook"><i class="fab fa-facebook"></i></a></li>
					<li class="list-inline-item"><a href="https://github.com/djangobat" target="_blank" class="btn btn-link btn-github"><i class="fab fa-github-alt"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>