{% load static %}
<header class="header-global">
    <nav class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-dark navbar-theme-secondary {% if section != 'home' %}headroom{% endif %}">
        <div class="container position-relative">
            <a class="navbar-brand mr-lg-5" href="{% url 'home' %}">
                <img class="navbar-brand-dark" src="{% static 'img/brand/light.png' %}" alt="Logo">
            </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'img/brand/dark.png' %}" alt="">
                            </a>
                        </div>
                        <div class="col-6 collapse-close"><a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"></a></div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item">
                        <a href="{% url 'courses_list' %}" class="nav-link">
                            <i class="fas fa-graduation-cap"></i>
                            <span class="nav-link-inner-text">Khóa học</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'package_list' %}" class="nav-link">
                            <i class="fas fa-cubes"></i>
                            <span class="nav-link-inner-text">Packages</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'snippets_list_news' %}" class="nav-link">
                            <i class="fas fa-code"></i>
                            <span class="nav-link-inner-text">Snippets</span>
                        </a>
                    </li>
                    {% comment %}
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="fas fa-microphone-alt"></i>
                            <span class="nav-link-inner-text">Video</span>
                        </a>
                    </li>
                    {% endcomment %}
                    <li class="nav-item">
                        <a href="{% url 'post_list' %}" class="nav-link">
                            <i class="fas fa-file-alt"></i>
                            <span class="nav-link-inner-text">Blog</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button"><i class="fas fa-angle-down nav-link-arrow"></i> <span class="nav-link-inner-text">More</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'about' %}">Giới thiệu</a></li>
                            <li><a class="dropdown-item" href="{% url 'contact' %}">Liên hệ</a></li>
                            <li><a class="dropdown-item" href="{% url 'post_feed' %}">Feed</a></li>
                            <li><a class="dropdown-item" href="{% url 'terms' %}">Điều khoản sử dụng</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        
            <div class="d-flex align-items-center">
                {% if user.is_authenticated %}
                    <div class="dropdown pl-1">
                        <div class="d-flex align-items-center" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                            <button class="btn btn-xs btn-circle btn-icon-only btn-soft dropdown-toggle mr-2" type="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span></button>
                            <p class="font-small text-light m-0">{{ user.username }}</p>
                        </div>
                        <div class="dropdown-menu dropdown-menu-md" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Hi, {{ user.username }}</h6>
                            <a class="dropdown-item" href="{% url 'account_edit' %}">Quản lý tài khoản</a>
                            <a class="dropdown-item" href="{% url 'snippets_management' %}">Quản lý snippets</a>
                            <a class="dropdown-item" href="{% url 'my_courses' %}">Khóa học của tôi</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account_logout' %}" data-toggle="modal" data-target="#modal-logout"><i class="fas fa-power-off mr-2"></i>Đăng xuất</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'account_login' %}" role="button" class="btn btn-white btn-sm animate-up-2">Đăng nhập</a>
                    <a href="{% url 'account_signup' %}" role="button" class="btn btn-info btn-sm ml-2 animate-up-2">Đăng ký</a>
                {% endif %}
                <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            </div>
        </div>
    </nav>
</header>
<div class="modal fade show" id="modal-logout" tabindex="-1" role="dialog" aria-labelledby="modal-logout"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <div class="modal-body"><p>Bạn có muốn đăng xuất tài khoản ?</p></div>
                <div class="modal-footer"><button type="submit" class="btn btn-sm btn-danger">Đăng xuất</button> <button type="button" class="btn btn-link text-danger ml-auto" data-dismiss="modal">Đóng</button></div>
            </form>
        </div>
    </div>
</div>