<div class="modal fade show" id="modal-root" tabindex="-1" role="dialog" aria-labelledby="modal-root"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>