{% load filter_core %}
{% load helpers %}
{% if page.has_other_pages %}
<div class="my-4">
    <nav aria-label="navigation">
        <ul class="pagination circle-pagination">

            {% if page.has_previous %}
            <li class="page-item"><a class="page-link" href="{{ request.build_absolute_uri|get_path_without_page }}page={{ page.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
            {% endif %}
			
			{% for num in page|pagination:page.number %}
            {% if num == page.number %}
            <li class="page-item active">
                <a class="page-link">{{ num }}</a>
            </li>
            {% elif not num %}
            <li class="page-item">
                <a class="page-link">&hellip;</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ request.build_absolute_uri|get_path_without_page }}page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
        	{% endfor %}

            {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="{{ request.build_absolute_uri|get_path_without_page }}page={{ page.next_page_number }}">Sau</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
