{% extends "_base.html" %}
{% load static %}
{% block title %}
404 Error
{% endblock title %}
{% block main %}
<main>
    <section class="min-vh-100">
        <div class="container py-5">
            <div class="row text-center justify-content-center">
                <div class="col-md-10">
                    <div><a href="{% url 'home' %}"><img class="img-fluid w-75" src="{% static 'img/pages/404-error.svg' %}" alt="menuimage"></a>
                        <h1 class="mt-5 font-weight-light mb-5">Page not <span class="font-weight-bolder text-secondary">found</span></h1>
                        <p class="lead my-4">Oops! Trang này không tồn tại.</p>
                        <a class="btn btn-secondary animate-hover" href="{% url 'home' %}"><i class="fas fa-chevron-left mr-3 pl-2 animate-left-3"></i>Trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock main %}