<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        {% block title %}
            
        {% endblock title %}
    </title>
    <meta name="title" content="Web App Blog">
    <meta name="author" content="trungbat">
    <meta name="description" content="Bog học django, vueJS, Angular, React, Web Development">
    <meta name="keywords" content="Django, Django Web Framework, Django Tutorial, Djangobat, Khóa học Django, Python, Blog, Web App, Vue, Angular, React">

    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">

    <link type="text/css" href="{% static 'vendor/fontawesome-5.11.2/css/fontawesome.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'vendor/bootstrap-4.3.1/css/bootstrap.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/app.min.css' %}" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158830468-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158830468-1');
    </script>

    {% block stylesheet %}
        
    {% endblock stylesheet %}
</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=402536450616875&autoLogAppEvents=1"></script>
    
    {% include "includes/header.html" %}
    <main>
        {% block main %}
            
        {% endblock main %}
    </main>
    {% include "includes/footer.html" %}
    {% include "includes/modal.html" %}
  
    <div class="ads ads-digitalocean">
        <div class="card shadow-soft">
            <div class="card-body p-2">
                <img src="{% static 'img/adds/digitalocean.png' %}" class="card-img-top" onclick="window.open('https://m.do.co/c/7bbf248c8415');">
                <a href="https://m.do.co/c/7bbf248c8415" target="_blank">
                    <p class="text-dark" style="font-size: 12px;">Đăng ký <b>DigitalOcean</b> để nhận <b>$100</b> trong credit để bắt đầu dự án.</p>
                </a>
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src ="{% static 'vendor/jquery/jquery-ui.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/ajax_setup.js' %}"></script>
    {% block scripts %}
        
    {% endblock scripts %}
</body>
</html>