<div class="row">
    <div class="col-12">
        <div class="nav-wrapper position-relative mb-2">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row">
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 {% ifequal section 'news' %}active{% endifequal %}" href="{% url 'snippets_list_news' %}">
                        <i class="fas fa-laptop-code text-success"></i>Snippets
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 {% ifequal section 'users' %}active{% endifequal %}" href="{% url 'snippet_user_list' %}">
                        <i class="far fa-user text-danger"></i>
                        Top users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 {% ifequal section 'tag' %}active{% endifequal %}" href="{% url 'snippet_tag_list' %}">
                        <i class="fas fa-tags text-gray"></i>Top Tags
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 {% ifequal section 'rating' %}active{% endifequal %}" href="{% url 'snippets_list_by_rating' %}">
                        <i class="far fa-star text-warning"></i>Top Rating
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 {% ifequal section 'saved' %}active{% endifequal %}" href="{% url 'snippets_list_saved' %}">
                        <i class="far fa-save text-dark"></i>Đã lưu
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 {% ifequal section 'create_snippet' %}active{% endifequal %}" href="{% url 'snippet_create' %}">
                        <i class="fas fa-pencil-alt text-info"></i> Thêm snippet
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>