{% extends "_base.html" %}

{% block main %}
<div class="section-header section-sm text-white bg-secondary overflow-hidden">
</div>
<div class="section section-lg">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12">
                <nav>
                    <div class="nav nav-tabs flex-column flex-md-row shadow-soft border-soft" role="tablist">
                        <a href="{% url 'account_edit' %}" class="nav-item nav-link text-secondary {% if section == 'account_edit' %}active{% endif %}"><i class="far fa-user mr-2"></i>Cập nhật thông tin</a>
                        <a href="{% url 'my_courses' %}" class="nav-item text-secondary nav-link {% if section == 'my_courses' %}active{% endif %}"><i class="far fa-list-alt mr-2"></i>Khóa học của tôi</a>
                        <a href="{% url 'snippets_management' %}" class="nav-item text-secondary nav-link {% if section == 'snippets' %}active{% endif %}"><i class="far fa-list-alt mr-2"></i>Quản lý snippets</a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            {% block content %}
                
            {% endblock content %}
        </div>
    </div>
</div>
{% endblock main %}
