{% extends "users/_base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block title %}
Chỉnh sửa tài khoản
{% endblock title %}

{% block content %}
<div class="col-12">
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error|escape }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
    {% if success %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Cập nhật thành công
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endif %}
    <form action="" method="post" class="card shadow-soft border p-4 mb-4" novalidate="">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <label>Họ</label>
                    {% render_field form.first_name class="form-control" placeholder="Họ" %}
                    {% if form.first_name.errors %}
                        {% for error in form.first_name.errors %}
                        <small class="text-danger">
                            {{ error|escape }}
                        </small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <label>Tên</label>
                    {% render_field form.last_name class="form-control" placeholder="Tên" %}
                    {% if form.last_name.errors %}
                        {% for error in form.last_name.errors %}
                        <small class="text-danger">
                            {{ error|escape }}
                        </small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <label>Email address</label>
                    {% render_field form.email class="form-control" placeholder="Nhập email" %}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        <small class="text-danger">
                            {{ error|escape }}
                        </small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <label>Phone number</label>
                    {% render_field form.phone class="form-control" placeholder="Phone number" %}
                    {% if form.phone.errors %}
                        {% for error in form.phone.errors %}
                        <small class="text-danger">
                            {{ error|escape }}
                        </small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-success mt-2 animate-up-2 float-right" type="submit">Cập nhật thông tin</button>
            </div>
        </div>
    </form>
    <a href="{% url 'account_change_password' %}" role="button" class="btn btn-outline-primary animate-up-2 mb-4" type="button">
        <span class="btn-inner-icon"><i class="fas fa-unlock-alt"></i></span>
        <span class="btn-inner-text">Thay đổi mật khẩu</span>
    </a>
</div>
{% endblock content %}