{% extends "users/_base.html" %}

{% block title %}
Khóa học của tôi
{% endblock title %}

{% block content %}
<div class="col-12" style="height: 50rem;">
    <div class="card shadow-soft border p-4">
        <table class="table table-responsive font-small">
            <thead class="thead-inverse">
                <tr>
                    <th class="h6 py-4 border-0">STT</th>
                    <th class="h6 py-4 border-0">Tên khóa học</th>
                    <th class="h6 py-4 border-0">Ngày mua</th>
                    <th class="h6 py-4 border-0">Giá</th>
                    <th class="h6 py-4 border-0">Số phần</th>
                    <th class="h6 py-4 border-0">Số bài viết</th>
                    <th class="h6 py-4 border-0">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% comment %}
                <tr>
                    <td class="option h6 font-weight-light">1</td>
                    <td><a href="">1</a></td>
                    <td>2</td>
                    <td>3</td>
                    <td>2</td>
                    <td>4</td>
                    <td><a href="" class="text-dark" data-toggle="tooltip" title="" data-original-title="Edit space"><i class="far fa-edit mr-2"></i></a> <a href="#" data-toggle="modal" data-target="#modal-confirm-delete" class="text-danger"><i class="far fa-trash-alt" data-toggle="tooltip" title="" data-original-title="Delete space"></i></a></td>
                </tr>
                {% endcomment %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}