{% extends "_base.html" %}
{% block title %}
{{ user.username }}
{% endblock title %}
{% block main %}
<div class="section section-xl pb-0 bg-secondary text-white">
    <div class="container z-2">
        <div class="row justify-content-end d-none d-lg-flex">
            <div class="col-auto">
                <div class="d-flex align-items-center flex-column flex-md-row z-2">
                    <div class="nav-wrapper position-relative pb-4">
                        <ul class="nav nav-pills nav-pill-rounded" id="tab-34" role="tablist">
                            <li class="nav-item mr-3 mr-md-0">
                                <a class="nav-link text-sm-center active" id="tab-grid-1-tab" data-toggle="tab" href="#tab-grid-1" role="tab" aria-controls="tab-grid-1" aria-selected="true"><span class="nav-link-icon d-block"><i class="fas fa-th-list"></i></span></a>
                            </li>
                            <li class="nav-item mr-3 mr-md-0">
                                <a class="nav-link text-sm-center" id="tab-grid-2-tab" data-toggle="tab" href="#tab-grid-2" role="tab" aria-controls="tab-grid-2" aria-selected="false"><span class="nav-link-icon d-block"><i class="fas fa-th-large"></i></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-soft pt-lg-0">
    <div id="spaces-container" class="container">
        <div class="row">
            <aside class="col-12 col-lg-4 d-block z-10">
                <div id="profile-sidebar" class="" style="">
                    <div class="sidebar-inner" style="position: relative; transform: translate3d(0px, 0px, 0px);">
                        <!-- Profile Card -->
                        <div class="profile-card mt-n7 d-none d-lg-block">
                            <div class="card shadow-soft border-0 text-center">
                                <div class="profile-cover" data-background="../../assets/img/coworking.jpg" style="background-image: url(&quot;../../assets/img/coworking.jpg&quot;);"></div>
                                <div class="card-body border border-soft p-2">
                                    <div class="profile-image-small mt-n6"><img src="{{ user.photo.url }}" class="card-img-top space-image-lg rounded-circle" alt="image"></div>
                                    <h4 class="font-weight-normal mt-4 mb-0">{{ user.username }}</h4>
                                    <ul class="list-inline row mx-auto my-4">
                                        <li class="list-inline-item col-sm-4 col-auto px-2 px-xl-3 my-2 mx-0">
                                            <h6 class="font-weight-normal font-small">Khóa học</h6><a class="d-sm-block h6 text-gray font-weight-normal font-small" href="#">20.5% <span class="icon icon-xs text-success"><i class="fas fa-angle-up"></i></span></a>
                                        </li>
                                        <li class="list-inline-item col-sm-4 col-md-auto px-2 px-xl-3 my-2 mx-0">
                                            <h6 class="font-weight-normal font-small">Hoàn thành</h6><a class="d-sm-block h6 text-gray font-weight-normal font-small" href="#">4.5/5 <span class="icon icon-xs text-danger"><i class="fas fa-angle-down"></i></span></a>
                                        </li>
                                        <li class="list-inline-item col-sm-4 col-md-auto px-2 px-xl-3 my-2 mx-0">
                                            <h6 class="font-weight-normal font-small">Online</h6><a class="d-sm-block h6 text-gray font-weight-normal font-small" href="#"><span class="icon icon-xs text-success"><i class="fas fa-award"></i></span> Verified</a>
                                        </li>
                                    </ul>
                                    {% if request.user == user %}
                                        <a class="btn btn-sm btn-secondary mb-3" href="{% url 'account_edit' user.username %}"><span class="fa fa-pencil mr-1"></span> Chỉnh sửa thông tin</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div><!-- End of Profile Card -->
                    </div>
                </div>
                <div class="profile-card mt-n7 d-lg-none">
                    <div class="card shadow-soft border-0 text-center">
                        <div class="profile-cover" data-background="../../assets/img/coworking.jpg" style="background-image: url(&quot;../../assets/img/coworking.jpg&quot;);"></div>
                        <div class="card-body border border-soft">
                            <div class="profile-image-small mt-n6"><img src="../../assets/img/team/profile-image-2.jpg" class="card-img-top space-image-lg rounded-circle" alt="image"></div>
                            <h4 class="font-weight-normal mt-4 mb-0">{{ user.username }}</h4>
                            <ul class="list-inline row mx-auto my-4">
                                <li class="list-inline-item col-sm-4 col-md-auto px-3 my-2 mx-0">
                                    <h6 class="font-weight-normal">Khóa học</h6><a class="d-sm-block h6 text-gray font-weight-normal" href="#">20.5% <span class="icon icon-xs text-success"><i class="fas fa-angle-up"></i></span></a>
                                </li>
                                <li class="list-inline-item col-sm-4 col-md-auto px-3 my-2 mx-0">
                                    <h6 class="font-weight-normal">Hoàn thành</h6><a class="d-sm-block h6 text-gray font-weight-normal" href="#">4.5/5 <span class="icon icon-xs text-danger"><i class="fas fa-angle-down"></i></span></a>
                                </li>
                                <li class="list-inline-item col-sm-4 col-md-auto px-3 my-2 mx-0">
                                    <h6 class="font-weight-normal">Online</h6><a class="d-sm-block h6 text-gray font-weight-normal" href="#"><span class="icon icon-xs text-success"><i class="fas fa-award"></i></span> Verified</a>
                                </li>
                            </ul><a class="btn btn-sm btn-secondary" href="#"><span class="fa fa-pencil mr-1"></span> Chỉnh sửa thông tin</a>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="col-md-12 col-lg-8">
                <div class="tab-content mt-4">
                	<h2>Khóa học</h2>
                    <div class="tab-pane fade show active" id="tab-grid-1" role="tabpanel" aria-labelledby="tab-grid-1-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-article-wide shadow-sm flex-md-row no-gutters border-soft mb-4 animate-up-5"><a href="single-space.html" class="col-md-6 col-lg-6"><img src="../../assets/img/private-office.jpg" alt="image" class="card-img-top space-image-lg"></a>
                                    <div class="card-body d-flex flex-column justify-content-between col-auto p-4"><a href="single-space.html">
                                            <h4 class="font-weight-normal mb-0">Private Workspace</h4>
                                        </a>
                                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Bucharest, Sector 2, Romania</span></div>
                                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <span class="badge badge-pill badge-secondary ml-2">5.0</span></div>
                                        <div class="d-flex justify-content-between">
                                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Monthly</span> <span class="h5 text-dark font-weight-bold">500$</span></div>
                                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">12</span></div>
                                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">1200</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-article-wide shadow-soft flex-md-row no-gutters border-soft mb-4 animate-up-5"><a href="single-space.html" class="col-md-6 col-lg-6"><img src="../../assets/img/meeting-office.jpg" alt="image" class="card-img-top space-image-lg"></a>
                                    <div class="card-body d-flex flex-column justify-content-between col-auto p-4"><a href="single-space.html">
                                            <h4 class="font-weight-normal mb-0">Meeting Office</h4>
                                        </a>
                                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Bucharest, Sector 2, Romania</span></div>
                                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <span class="badge badge-pill badge-secondary ml-2">5.0</span></div>
                                        <div class="d-flex justify-content-between">
                                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Monthly</span> <span class="h5 text-dark font-weight-bold">400$</span></div>
                                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">12</span></div>
                                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">1200</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-article-wide shadow-sm flex-md-row no-gutters border-soft mb-4 animate-up-5"><a href="single-space.html" class="col-md-6 col-lg-6"><img src="../../assets/img/lifestyle-office.jpg" alt="image" class="card-img-top space-image-lg"></a>
                                    <div class="card-body d-flex flex-column justify-content-between col-auto p-4"><a href="single-space.html">
                                            <h4 class="font-weight-normal mb-0">Lifestyle Workspace</h4>
                                        </a>
                                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Bucharest, Sector 2, Romania</span></div>
                                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <span class="badge badge-pill badge-secondary ml-2">5.0</span></div>
                                        <div class="d-flex justify-content-between">
                                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Monthly</span> <span class="h5 text-dark font-weight-bold">1200$</span></div>
                                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">12</span></div>
                                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">1200</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-article-wide shadow-sm flex-md-row no-gutters border-soft mb-4 animate-up-5"><a href="single-space.html" class="col-md-6 col-lg-6"><img src="../../assets/img/image-office.jpg" alt="image" class="card-img-top space-image-lg"></a>
                                    <div class="card-body d-flex flex-column justify-content-between col-auto p-4"><a href="single-space.html">
                                            <h4 class="font-weight-normal mb-0">Basic Workspace</h4>
                                        </a>
                                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Bucharest, Sector 2, Romania</span></div>
                                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <span class="badge badge-pill badge-secondary ml-2">5.0</span></div>
                                        <div class="d-flex justify-content-between">
                                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Monthly</span> <span class="h5 text-dark font-weight-bold">200$</span></div>
                                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">12</span></div>
                                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">1200</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-article-wide shadow-sm flex-md-row no-gutters border-soft mb-4 animate-up-5"><a href="single-space.html" class="col-md-6 col-lg-6"><img src="../../assets/img/cowork-office.jpg" alt="image" class="card-img-top space-image-lg"></a>
                                    <div class="card-body d-flex flex-column justify-content-between col-auto p-4"><a href="single-space.html">
                                            <h4 class="font-weight-normal mb-0">Collaborative Workspace</h4>
                                        </a>
                                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Bucharest, Sector 2, Romania</span></div>
                                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <span class="badge badge-pill badge-secondary ml-2">5.0</span></div>
                                        <div class="d-flex justify-content-between">
                                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Monthly</span> <span class="h5 text-dark font-weight-bold">100$</span></div>
                                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">12</span></div>
                                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">1200</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="extraContent" style="display: none;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card card-article-wide shadow-sm flex-md-row no-gutters border-soft mb-4 animate-up-5"><a href="single-space.html" class="col-md-6 col-lg-6"><img src="../../assets/img/lifestyle-office.jpg" alt="image" class="card-img-top space-image-lg"></a>
                                        <div class="card-body d-flex flex-column justify-content-between col-auto p-4"><a href="single-space.html">
                                                <h4 class="font-weight-normal mb-0">Lifestyle Workspace</h4>
                                            </a>
                                            <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Bucharest, Sector 2, Romania</span></div>
                                            <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <span class="badge badge-pill badge-secondary ml-2">5.0</span></div>
                                            <div class="d-flex justify-content-between">
                                                <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Monthly</span> <span class="h5 text-dark font-weight-bold">1200$</span></div>
                                                <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">12</span></div>
                                                <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">1200</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card card-article-wide shadow-sm flex-md-row no-gutters border-soft mb-4 animate-up-5"><a href="single-space.html" class="col-md-6 col-lg-6"><img src="../../assets/img/image-office.jpg" alt="image" class="card-img-top space-image-lg"></a>
                                        <div class="card-body d-flex flex-column justify-content-between col-auto p-4"><a href="single-space.html">
                                                <h4 class="font-weight-normal mb-0">Basic Workspace</h4>
                                            </a>
                                            <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Bucharest, Sector 2, Romania</span></div>
                                            <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <span class="badge badge-pill badge-secondary ml-2">5.0</span></div>
                                            <div class="d-flex justify-content-between">
                                                <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Monthly</span> <span class="h5 text-dark font-weight-bold">200$</span></div>
                                                <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">12</span></div>
                                                <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">1200</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card card-article-wide shadow-sm flex-md-row no-gutters border-soft mb-4 animate-up-5"><a href="single-space.html" class="col-md-6 col-lg-6"><img src="../../assets/img/cowork-office.jpg" alt="image" class="card-img-top space-image-lg"></a>
                                        <div class="card-body d-flex flex-column justify-content-between col-auto p-4"><a href="single-space.html">
                                                <h4 class="font-weight-normal mb-0">Collaborative Workspace</h4>
                                            </a>
                                            <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Bucharest, Sector 2, Romania</span></div>
                                            <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <span class="badge badge-pill badge-secondary ml-2">5.0</span></div>
                                            <div class="d-flex justify-content-between">
                                                <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Monthly</span> <span class="h5 text-dark font-weight-bold">100$</span></div>
                                                <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">12</span></div>
                                                <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">1200</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 text-center"><button id="loadOnClick" class="btn btn-primary shadow-soft border-soft btn-loading-overlay mr-2 mb-2" type="button"><span class="spinner"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> </span><span class="ml-1 btn-inner-text">Show more</span></button>
                            <p id="allLoadedText" style="display: none;">That's all, Sparky!</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-grid-2" role="tabpanel" aria-labelledby="tab-grid-2-tab">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <!-- Card -->
                                <div class="card shadow-sm border-soft mb-4 animate-up-5"><a href="./single-space.html" class="position-relative"><img src="../../assets/img/image-office.jpg" class="card-img-top space-image-lg" alt="image"> <span class="badge badge-primary position-absolute listing-badge"><span class="font-weight-normal font-xs">Office Space</span></span></a>
                                    <div class="card-body"><a href="./single-space.html">
                                            <h5 class="font-weight-normal">Collaborative Workspace</h5>
                                        </a>
                                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>New York, Manhattan, USA</span></div>
                                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <span class="badge badge-pill badge-secondary ml-2">5.0</span></div>
                                        <div class="d-flex justify-content-between">
                                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Monthly</span> <span class="h5 text-dark font-weight-bold">450$</span></div>
                                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">12</span></div>
                                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">1200</span></div>
                                        </div>
                                    </div>
                                </div><!-- End of Card -->
                            </div>
                            <div class="col-12 col-lg-6">
                                <!-- Card -->
                                <div class="card shadow-sm border-soft mb-4 animate-up-5"><a href="./single-space.html" class="position-relative"><img src="../../assets/img/cowork-office.jpg" class="card-img-top space-image-lg" alt="image"> <span class="badge badge-secondary position-absolute listing-badge"><span class="font-weight-normal font-xs">Coworking Space</span></span></a>
                                    <div class="card-body"><a href="./single-space.html">
                                            <h5 class="font-weight-normal">Coworking Workspace</h5>
                                        </a>
                                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Bucharest, Sector 2, Romania</span></div>
                                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-gray-200"></i> <i class="star fas fa-star text-gray-200"></i> <span class="badge badge-pill badge-secondary ml-2">3.0</span></div>
                                        <div class="d-flex justify-content-between">
                                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Monthly</span> <span class="h5 text-dark font-weight-bold">300$</span></div>
                                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">24</span></div>
                                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">3000</span></div>
                                        </div>
                                    </div>
                                </div><!-- End of Card -->
                            </div>
                            <div class="col-12 col-lg-6">
                                <!-- Card -->
                                <div class="card shadow-sm border-soft mb-4 animate-up-5"><a href="./single-space.html" class="position-relative"><img src="../../assets/img/meeting-office.jpg" class="card-img-top space-image-lg" alt="image"> <span class="badge badge-warning position-absolute listing-badge"><span class="font-weight-normal font-xs">Meeting Space</span></span></a>
                                    <div class="card-body"><a href="./single-space.html">
                                            <h5 class="font-weight-normal">Meeting Office Space</h5>
                                        </a>
                                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>London, Canary Wharf, UK</span></div>
                                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-gray-200"></i> <span class="badge badge-pill badge-secondary ml-2">4.0</span></div>
                                        <div class="d-flex justify-content-between">
                                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Hourly</span> <span class="h5 text-dark font-weight-bold">50$</span></div>
                                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">3-5</span></div>
                                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">400</span></div>
                                        </div>
                                    </div>
                                </div><!-- End of Card -->
                            </div>
                            <div class="col-12 col-lg-6">
                                <!-- Card -->
                                <div class="card shadow-sm border-soft mb-4 animate-up-5"><a href="./single-space.html" class="position-relative"><img src="../../assets/img/conference-office.jpg" class="card-img-top space-image-lg" alt="image"> <span class="badge badge-primary position-absolute listing-badge"><span class="font-weight-normal font-xs">Conference Room</span></span></a>
                                    <div class="card-body"><a href="./single-space.html">
                                            <h5 class="font-weight-normal">Conference Room</h5>
                                        </a>
                                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Paris, La Defense, France</span></div>
                                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <span class="badge badge-pill badge-secondary ml-2">4.7</span></div>
                                        <div class="d-flex justify-content-between">
                                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Hourly</span> <span class="h5 text-dark font-weight-bold">100$</span></div>
                                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">2-20</span></div>
                                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">200</span></div>
                                        </div>
                                    </div>
                                </div><!-- End of Card -->
                            </div>
                            <div class="col-12 col-lg-6">
                                <!-- Card -->
                                <div class="card shadow-sm border-soft mb-4 animate-up-5"><a href="./single-space.html" class="position-relative"><img src="../../assets/img/lifestyle-office.jpg" class="card-img-top space-image-lg" alt="image"> <span class="badge badge-secondary position-absolute listing-badge"><span class="font-weight-normal font-xs">Lifestyle Space</span></span></a>
                                    <div class="card-body"><a href="./single-space.html">
                                            <h5 class="font-weight-normal">Lifestyle Space</h5>
                                        </a>
                                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Madrid, Hortaleza, Spain</span></div>
                                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <span class="badge badge-pill badge-secondary ml-2">5.0</span></div>
                                        <div class="d-flex justify-content-between">
                                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Daily</span> <span class="h5 text-dark font-weight-bold">350$</span></div>
                                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">10-25</span></div>
                                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">100</span></div>
                                        </div>
                                    </div>
                                </div><!-- End of Card -->
                            </div>
                            <div class="col-12 col-lg-6">
                                <!-- Card -->
                                <div class="card shadow-sm border-soft mb-4 animate-up-5"><a href="./single-space.html" class="position-relative"><img src="../../assets/img/private-office.jpg" class="card-img-top space-image-lg" alt="image"> <span class="badge badge-warning position-absolute listing-badge"><span class="font-weight-normal font-xs">Private Space</span></span></a>
                                    <div class="card-body"><a href="./single-space.html">
                                            <h5 class="font-weight-normal">Private Space</h5>
                                        </a>
                                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Budapest, Ferencvaros, Hungary</span></div>
                                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-gray-200"></i> <span class="badge badge-pill badge-secondary ml-2">4.0</span></div>
                                        <div class="d-flex justify-content-between">
                                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Monthly</span> <span class="h5 text-dark font-weight-bold">100$</span></div>
                                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">1</span></div>
                                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">10</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}