{% extends "snippets/_base.html" %}
{% load user_tag %}
{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load snippets %}
{% block title %}
{{ snippet.title }}
{% endblock title %}

{% block table %}
<div class="row justify-content-center pt-4">
    <div class="col-lg-12">
        <div class="card shadow-soft border-soft p-0 p-md-4" id="modal-data">
            <div class="card-header">
                <div class="post-meta">
                    <div class="media justify-content-between">
                        <div>
                            {% with user=snippet.author %}
                            {% if snippet.author.photo %}
                            {% thumbnail snippet.author.photo "24x24" crop="center" as im %}
                            <a href="{% url 'snippets_list_by_author' user.username %}" class="font-small font-weight-bold"><img class="avatar-sm img-fluid rounded-circle mr-2" src="{{ im.url }}" alt="avatar"> {{ user.get_name }} </a>
                            {% endthumbnail %}
                            {% else %}
                            <div class="avatar-snippet text-white mr-2 {{ snippet.author|bg_color }}
                            ">{{ snippet.author.get_word_avatar }}</div>

                            <small class="h6">{{ user.get_name }}</small>
                            {% endif %}
                            {% endwith %}
                            <span class="d-none d-md-inline font-small ml-1 font-weight-light">{{ snippet.created|timesince }} trước</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <ul class="social-buttons list-style-none d-flex">
                                <li class="mr-3">
                                    <a href="{% url 'download_snippet' snippet.slug %}" class="btn btn-lg btn-link btn-twitter text-success">
                                        <i class="fas fa-download text-lg" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tải xuống"></i>
                                    </a>
                                </li>
                                {% if user.is_authenticated %}
                                <li class="mr-3">
                                    <a target="_blank" class="btn btn-lg btn-link btn-facebook text-warning js-save-snippet"
                                        data-url="{% url 'save_snippet' snippet.slug %}">
                                        {% include "snippets/snippet/save_snippet_icon.html" %}
                                    </a>
                                </li>
                                {% endif %}
                                <li class="mr-3">
                                    <a class="btn btn-lg btn-link btn-dribbble text-dark js-copy-snippet"
                                        data-url="{% url 'copy_snippet' snippet.slug %}"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Copy Snippet">
                                        <i class="far fa-copy"></i>
                                    </a>
                                </li>
                                <li class="mr-3">
                                    <a href="{% url 'snippet_raw' snippet.slug %}"
                                       target="_blank"
                                       class="btn btn-lg btn-link btn-dribbble text-dark">
                                       <i class="far fa-eye" data-toggle="tooltip" data-placement="top" title="Xem code"></i>
                                   </a>
                                </li>
                            </ul>
                            {% if user == snippet.author %}
                            <div class="btn-group">
                                <button class="btn btn-link dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-sm"><i class="fas fa-ellipsis-h icon-gray-700"></i> </span><span class="sr-only">Toggle Dropdown</span></button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'snippet_update' snippet.slug %}"><i class="fas fa-edit mr-2"></i> Sửa Snippet</a>
                                    <a class="dropdown-item text-danger btn-modal" data-url="{% url 'ajax_snippet_delete' snippet.slug %}"><i class="fa fa-trash mr-2" aria-hidden="true"></i> Xóa Snippet</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body py-3">
                <div class="mb-3">
                    {% for tag in snippet.get_tags %}
                    <a href="{% url 'snippets_list_by_tag' tag.slug %}"><span class="badge text-uppercase {{ tag|fill_color }}">{{ tag }}</span></a>
                    {% endfor %}
                </div>
                <h4 class="mb-4">{{ snippet.title }}</h4>
                <p class="card-text my-4">
                    {{ snippet.description|markdown }}
                </p>
                <input type="hidden" value="ace/mode/{{ snippet.language }}" id="id_mode">
                <textarea name="" id="id_code" cols="30" rows="10" style="display: none!important">{{ snippet.code }}</textarea>
                <p class="card-text my-4 border" id="snippetEditor" style="height: 800px; min-height: 300px">
                    {{ snippet.code }}
                </p>
            </div>
            <div class="card-footer mx-4 px-0 pt-0">
                <div class="d-flex align-items-center justify-content-between">
                    {% if user.is_authenticated %}
                    <div class="post-details mb-3 mb-lg-0" id="data-votes">
                        {% include "snippets/snippet/votes.html" %}
                    </div>
                    {% endif %}
                    {% comment %}
                    <div class="post-meta"><a class="text-dark mr-3" href="#"><i class="far fa-comments mr-2"></i>33.7k bình luận</a></div>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock table %}

{% block scripts %}
{{ block.super }}
<script>
$(function () {
    var editor = ace.edit("snippetEditor");
    editor.setTheme("ace/theme/dracula");

    editor.setValue($('#id_code').val());
    editor.getSession().setMode($('#id_mode').val());
    editor.getSession().setUseWrapMode(true);
    editor.setFontSize("1.15rem");
    editor.setOptions({
        maxLines: Infinity
    });

    editor.setReadOnly(true)

    var token = '{{ csrf_token }}';

    /////////////////////////////////////////////////
    ///////////////// SAVE SNIPPET
    /////////////////////////////////////////////////

    var saveSnippet = function () {
        let el = $(this);

        $.ajax({
          url: el.attr('data-url'),
          dataType: 'json',
          type: 'POST',
          data: {
            csrfmiddlewaretoken: token,
          },
          success: function (data) {
            el.html(data.html_data);
            
          }
        });

        return false;
    };

    $("#modal-data").on('click', 'a.js-save-snippet', saveSnippet);

    /////////////////////////////////////////////////
    ///////////////// VOTE SNIPPET
    /////////////////////////////////////////////////

    var voteSnippet = function () {
        let el = $(this);
        $.ajax({
            url: el.attr('data-url'),
            type: 'POST',
            dataType: 'json',
            data: {
                csrfmiddlewaretoken: token,
            },
            success: function (data) {
                $("#data-votes").html(data.html_data);
            }
        });
    };

    $("#data-votes").on('click', 'button.btn-vote', voteSnippet);

});
</script>
{% endblock scripts %}
