{% extends "snippets/_base.html" %}
{% load thumbnail %}
{% load user_tag %}
{% load widget_tweaks %}
{% block title %}
Top snippet Users
{% endblock title %}
{% block table %}
<div class="row justify-content-center pt-4">
        <div class="col-lg-12">
            <form class="row mb-5" action=".">
                <div class="col-12 col-lg-4">
                    <div class="form-group mb-lg-0">
                        <div class="input-group input-group-md mb-lg-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            {% render_field form.query class="form-control" placeholder="Tên người dùng" %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2">
                    <button class="btn btn-secondary btn-block mt-md-0 animate-up-2" type="submit">Tìm kiếm</button>
                </div>
            </form>
            <div class="mb-5">
                <h6 class="mb-3">Top người dùng :</h6>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Người dùng</th>
                            <th scope="col">Số snippets</th>
                            <th scope="col">Tổng rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <div class="d-flex">
                                    <div class="media">
                                        <div class="avatar-sm mr-1">
                                            {% if user.photo %}
                                            {% thumbnail user.photo "24x24" crop="center" as im %}
                                            <img class="img-fluid rounded-circle" src="{{ im.url }}" alt="avatar">
                                            {% endthumbnail %}
                                            {% else %}
                                            <div class="user-photo {{ user|bg_color }}">{{ user.get_word_avatar }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="avatar-name">
                                            <a class="text-gray small" href="{% url 'snippets_list_by_author' user.username %}">{{ user.get_name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{ user.get_total_snippets }}</td>
                            <td>{% if user.get_total_votes > 0 %}+{% endif %}{{ user.get_total_votes }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="align-middle">
            {% include "includes/pagination.html" with page=users %}
        </div>
    </div>
{% endblock table %}