{% extends "snippets/_base.html" %}
{% load widget_tweaks %}
{% load snippets %}
{% block title %}
Top snippet Tags
{% endblock title %}
{% block table %}
<div class="row justify-content-center pt-4">
        <div class="col-lg-12">
            <form class="row mb-5" action=".">
                <div class="col-12 col-lg-4">
                    <div class="form-group mb-lg-0">
                        <div class="input-group input-group-md mb-lg-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            {% render_field form.name class="form-control" placeholder="Tên tag" %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2">
                    <button class="btn btn-secondary btn-block mt-md-0 animate-up-2" type="submit">Tìm kiếm</button>
                </div>
            </form>
            <div class="mb-5">
                <h6 class="mb-3">Top tags :</h6>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tag</th>
                            <th scope="col">Số snippets</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tag in tags %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <a href="{% url 'snippets_list_by_tag' tag.slug %}"><span class="badge badge-md text-uppercase {{ tag|fill_color }}"> {{ tag.name }}</span></a>
                            </td>
                            <td>{{ tag.total_snippets }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="align-middle">
            {% include "includes/pagination.html" with page=tags %}
        </div>
    </div>
{% endblock table %}