{% extends "snippets/_base.html" %}
{% load user_tag %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load snippets %}
{% block title %}
Snippets
{% endblock title %}
{% block table %}
<div class="row justify-content-center pt-4">
    <div class="col-lg-12">
        <form class="row mb-5" action=".">
            <div class="col-12 col-lg-4">
                <div class="form-group mb-lg-0">
                    <div class="input-group input-group-md mb-lg-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        {% render_field form.title class="form-control" placeholder="Tên snippet" %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <button class="btn btn-secondary btn-block mt-md-0 animate-up-2" type="submit">Tìm kiếm</button>
            </div>
        </form>
        <div class="mb-5">
            {% if section == 'news' %}
            <h6 class="mb-3">Danh sách snippets mới :</h6>
            {% elif section == 'rating' %}
            <h6 class="mb-3">Top rating snippets:</h6>
            {% endif %}
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tiêu đề</th>
                        <th scope="col">Người đăng</th>
                        <th scope="col">Ngày đăng</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Lượt xem</th>
                        <th scope="col">Rating</th>
                    </tr>
                </thead>
                <tbody>
                    {% for snippet in snippets %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            <a href="{% url 'snippet_detail' snippet.slug %}">{{ snippet.title }}</a>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="media">
                                    <div class="avatar-sm mr-1">
                                        {% if snippet.author.photo %}
                                        {% thumbnail snippet.author.photo "24x24" crop="center" as im %}
                                        <img class="img-fluid rounded-circle" src="{{ im.url }}" alt="avatar">
                                        {% endthumbnail %}
                                        {% else %}
                                        <div class="user-photo {{ snippet.author|bg_color }}">{{ snippet.author.get_word_avatar }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="avatar-name">
                                        <a class="text-gray small" href="{% url 'snippets_list_by_author' snippet.author.username %}">{{ snippet.author.get_name }}</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ snippet.created|date:"H:i d/m/Y" }}</td>
                        <td>
                            {% for tag in snippet.get_tags %}
                            <a href="{% url 'snippets_list_by_tag' tag.slug %}"><span class="badge text-uppercase {{ tag|fill_color }}">{{ tag }}</span></a>
                            {% endfor %}
                        </td>
                        <td>
                            {{ snippet.views }}
                        </td>
                        <td>
                            {% if snippet.total_rating > 0 %}+{% endif %}{{ snippet.total_rating }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="align-middle">
        {% include "includes/pagination.html" with page=snippets %}
    </div>
</div>
{% endblock table %}