<form action="{% url 'ajax_snippet_delete' snippet.slug %}" method="post" id="js-form-doNothing">
{% csrf_token %}
<div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">Xóa Snippet</h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body">
    <p>Bạn có muốn xóa snippet "{{ snippet.title }}" ?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-gray" data-dismiss="modal">Quay lại</button>
    <button type="submit" class="btn btn-sm btn-danger ml-auto">Xóa</button>
</div>
</form>
