{% extends "snippets/_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Chỉnh sửa {{ snippet.title }}
{% endblock title %}
{% block table %}
<div class="row justify-content-center pt-4">
    <div class="col-lg-12">
        <div class="card shadow-sm border-light p-2 p-md-3">
            <div class="card-header">
                <h4>Cập nhật "{{ snippet.title }}"</h4>
            </div>
            <div class="card-body pt-0">
                <form action="{% url 'snippet_update' snippet.slug %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        {% render_field form.title class="form-control" placeholder="Tên snippet" %}
                    </div>
                    <div class="form-group">
                        <label>Ngôn ngữ</label>
                        {% render_field form.language class="form-control" %}
                        <small class="form-text text-muted">Chọn loại ngôn ngữ của code snippet bạn tạo.</small>
                    </div>
                    <div class="form-group">
                        <label>Tags</label>
                        {% render_field form.tags class="form-control" data-role="tagsinput" %}
                    </div>
                    <div class="form-group">
                        <label>Miêu tả</label>
                        {% render_field form.description class="form-control" %}
                        <small class="form-text text-muted">Miêu tả về vấn đề mà code snippet này đang giải quyết.</small>
                    </div>
                    <div style="display:none!important">
                        {{ form.code }}
                    </div>
                    <div class="form-group">
                        <label>Code</label>
                        <div id="snippetEditor" class="border {% if form.code.errors %}border-danger{% endif %}" style="height: 800px; min-height: 300px">
                            
                        </div>
                        {% for error in form.code.errors %}
                        <small class="text-danger">
                            {{ error|escape }}
                        </small>
                        {% endfor %}
                    </div>

                    <button type="submit" class="btn btn-info btn-block mb-3">Lưu snippet</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock table %}
