{% if request.user in snippet.vote_up.all %}
<button class="btn btn-sm btn-primary animate-hover mr-2 btn-vote"
        data-url="{% url 'ajax_vote_up_snippet' snippet.slug %}">
        <span class="fas fa-thumbs-up mr-2 animate-up-2"></span>
        {{ snippet.get_total_vote_up }}
</button>
{% else %}
<button class="btn btn-sm btn-outline-primary animate-hover mr-2 btn-vote"
        data-url="{% url 'ajax_vote_up_snippet' snippet.slug %}">
        <span class="fas fa-thumbs-up mr-2 animate-up-2"></span>
        {{ snippet.get_total_vote_up }}
</button>
{% endif %}

{% if request.user in snippet.vote_down.all %}
<button class="btn btn-sm btn-danger animate-hover btn-vote"
        data-url="{% url 'ajax_vote_down_snippet' snippet.slug %}">
        <span class="fas fa-thumbs-down mr-2 animate-down-2"></span>
        {{ snippet.get_total_vote_down }}
</button>
{% else %}
<button class="btn btn-sm btn-outline-danger animate-hover btn-vote"
        data-url="{% url 'ajax_vote_down_snippet' snippet.slug %}">
        <span class="fas fa-thumbs-down mr-2 animate-down-2"></span>
        {{ snippet.get_total_vote_down }}
</button>
{% endif %}
