{% extends "_base.html" %}

{% block title %}
    Xác thực e-email
{% endblock title %}

{% block main %}
<div class="section-header section-sm text-white bg-secondary overflow-hidden">
</div>
<section class="section section-md" style="height: 50rem;">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-8 col-md-8">
				<h2 class="h1 mb-4 font-weight-light"><span class="font-weight-bold">Xác thực email</h2>
				{% if confirmation %}
				<p class="lead">{% with confirmation.email_address.email as email %} Hãy xác thực <a href="mailto:{{ email }}">{{ email }}</a> là một địa chỉ e-email của {{ confirmation.email_address.user }} {% endwith %}</p>
				<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
					{% csrf_token %}
				    <button type="submit" class="btn btn-secondary">Xác thực</button>
				</form>
				{% else %}
				{% url 'account_email' as email_url %}
				<p class="lead">
					Xác thực email này đã hết hạn hoặc không hợp lệ. Vui lòng vào <a href="{{ email_url }}"> để gửi một yêu cầu xác thực mới.</a>
				</p>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock main %}