{% extends "_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Đăng nhập
{% endblock title %}
{% block main %}
<div class="section-header section-sm text-white bg-secondary overflow-hidden">
</div>
<section class="min-vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2">
                <img src="{% static 'img/pages/signin.svg' %}" class="img-fluid">
            </div>
            <div class="col-12 col-md-5 col-lg-4 order-md-1">
                <div>
                    <div class="text-center text-md-center mt-4 mt-md-0 mb-3">
                        <h1>Đăng nhập</h1>
                    </div>
                    <span class="clearfix"></span>
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ error|escape }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    {% endfor %}
                    <form action="" method="post" novalidate="">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-envelope"></i></span></div>
                                {% render_field form.login class="form-control" placeholder="email" %}
                            </div>
                            {% if form.login.errors %}
                            {% for error in form.login.errors %}
                            <small class="text-danger">
                                {{ error|escape }}
                            </small>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-unlock-alt"></i></span></div>
                                {% render_field form.password class="form-control" placeholder="Password" %}
                                <div class="input-group-append show-password"><span class="input-group-text"><i class="far fa-eye"></i></span></div>
                            </div>
                            {% if form.password.errors %}
                            {% for error in form.password.errors %}
                            <small class="text-danger">
                                {{ error|escape }}
                            </small>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mt-4"><button type="submit" class="btn btn-block btn-secondary">Đăng nhập</button></div>
                    </form>
                    <div class="d-block d-sm-flex justify-content-between align-items-center mt-4">
                        <span><small>Nếu chưa có tài khoản hãy</small> <a href="{% url 'account_signup' %}" class="small font-weight-bold">Đăng ký</a></span>
                        {% comment %}
                        <div><a href="{% url 'account_reset_password' %}" class="small text-right">Quên mật khẩu?</a></div>
                        {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main %}