{% extends "users/_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Thay đổi mật khẩu
{% endblock title %}
{% block content %}
<div class="col-12 col-lg-6">
    <h3 class="mb-4 font-weight-light"><span class="font-weight-bold">Đặt lại mật khẩu</h3>
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error|escape }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endfor %}
    {% if success %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Cập nhật thành công
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endif %}
    <form action="" method="post" class="card shadow-soft border p-4" novalidate>
        {% csrf_token %}
        <div class="row-inline">
            <div class="form-group">
                <label>Mật khẩu hiện tại</label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-unlock-alt"></i></span></div>
                    {% render_field form.old_password class="form-control" placeholder="" %}
                    <div class="input-group-append show-password"><span class="input-group-text"><i class="far fa-eye"></i></span></div>
                </div>
                {% if form.old_password.errors %}
                {% for error in form.old_password.errors %}
                <small class="text-danger">
                    {{ error|escape }}
                </small>
                {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <label>Mật khẩu hiện mới</label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-unlock-alt"></i></span></div>
                    {% render_field form.new_password1 class="form-control" placeholder="" %}
                    <div class="input-group-append show-password"><span class="input-group-text"><i class="far fa-eye"></i></span></div>
                </div>
                {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                <small class="text-danger">
                    {{ error|escape }}
                </small>
                {% endfor %}
                {% endif %}
            </div>


            <div class="form-group">
                <label>Nhập lại mật khẩu mới</label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-unlock-alt"></i></span></div>
                    {% render_field form.new_password2 class="form-control" placeholder="" %}
                    <div class="input-group-append show-password"><span class="input-group-text"><i class="far fa-eye"></i></span></div>
                </div>
                {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                <small class="text-danger">
                    {{ error|escape }}
                </small>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col"><button class="btn btn-outline-success mt-2" type="submit">Thay đổi mật khẩu</button></div>
        </div>
    </form>
</div>
{% endblock content %}