{% extends "_base.html" %}

{% block title %}
    Đặt lại mật khẩu
{% endblock title %}

{% block main %}
<div class="section-header section-sm text-white bg-secondary overflow-hidden">
</div>
<section class="section section-md" style="height: 50rem;">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-8 col-md-8">
				<h2 class="h1 mb-4 font-weight-light"><span class="font-weight-bold">Đặt lại mật khẩu</h2>
				<p class="lead">Chúng tôi đã gửi tới bạn một e-mail dùng để đặt lại mật khẩu. Nếu vẫn chưa nhận được xin hãy <a href="{% url 'contact' %}">liên hệ</a> với chúng tôi</p>
			</div>
		</div>
	</div>
</section>
{% endblock main %}