{% extends "_base.html" %}

{% block title %}
    Đặt lại mật khẩu
{% endblock title %}

{% block main %}
<div class="section-header section-sm text-white bg-secondary overflow-hidden">
</div>
<section class="section section-md" style="height: 50rem;">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-8 col-md-8">
				<p class="lead">Mật khẩu của bạn đã được thay đổi, tiến hành <a href="{% url 'account_login' %}">Đăng nhập</a> </p>
			</div>
		</div>
	</div>
</section>
{% endblock main %}