{% extends "_base.html" %}
{% load widget_tweaks %}
{% block title %}
Đặt lại mật khẩu
{% endblock title %}
{% block main %}
<div class="section-header section-sm text-white bg-secondary overflow-hidden">
</div>
<section class="section section-md" style="height: 50rem;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h2 class="h1 mb-4 font-weight-light"><span class="font-weight-bold">Đặt lại mật khẩu</h2>
                {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="lead">Liên kết không hợp lệ, có thể nó đã được dùng. Hãy gửi một yêu cầu <a href="{{ passwd_reset_url }}">đặt lại mật khẩu</a> mới.</p>
                {% else %}
                {% if form %}
                <form method="POST" action="{{ action_url }}" novalidate="">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-unlock-alt"></i></span></div>
                            {% render_field form.password1 class="form-control" placeholder="Mật khẩu mới" %}
                            <div class="input-group-append show-password"><span class="input-group-text"><i class="far fa-eye"></i></span></div>
                        </div>
                        {% if form.password1.errors %}
                        {% for error in form.password1.errors %}
                        <small class="text-danger">
                            {{ error|escape }}
                        </small>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-unlock-alt"></i></span></div>
                            {% render_field form.password2 class="form-control" placeholder="Nhập lại mật khẩu" %}
                            <div class="input-group-append show-password"><span class="input-group-text"><i class="far fa-eye"></i></span></div>
                        </div>
                        {% if form.password2.errors %}
                        {% for error in form.password2.errors %}
                        <small class="text-danger">
                            {{ error|escape }}
                        </small>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <input type="submit" class="btn btn-secondary" name="action" value="Thay đổi mật khẩu" />
                </form>
                {% else %}
                <p class="lead">Mật khẩu đã được thay đổi</p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock main %}