{% extends "_base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
Đặt lại mật khẩu
{% endblock title %}

{% block main %}
<div class="section-header section-sm text-white bg-secondary overflow-hidden">
</div>
<section class="min-vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2">
                <img src="{% static 'img/pages/password.png' %}" class="img-fluid">
            </div>
            <div class="col-12 col-md-5 col-lg-4 order-md-1">
                <div>
                    <p >Nhập địa chỉ email của bạn, chúng tôi sẽ gửi một email tới e-mail này để đặt lại mật khẩu.</p>
                    <span class="clearfix"></span>
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error|escape }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    {% endfor %}
                    <form action="{% url 'account_reset_password' %}" method="post" novalidate="">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-envelope"></i></span></div>
                                {% render_field form.email class="form-control" placeholder="email" %}
                            </div>
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                <small class="text-danger">
                                    {{ error|escape }}
                                </small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mt-4"><button type="submit" class="btn btn-block btn-secondary">Đặt lại mật khẩu</button></div>
                    </form>
                    <div class="d-block mt-4">
                        <a href="{% url 'account_signup' %}" class="small font-weight-bold">Đăng ký</a>
                        <small>Hoặc</small>
                        <a href="{% url 'account_login' %}" class="small text-right">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main %}

{% block scripts %}
<script>
    $(function(){
        $("#id_email").focus();
    })
</script>
{% endblock scripts %}