{% extends "_base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
    Đăng ký tài khoản
{% endblock title %}

{% block main %}
<div class="section-header section-sm text-white bg-secondary overflow-hidden">
</div>
<section class="min-vh-100 d-flex align-items-center">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2">
				<img src="{% static 'img/pages/signup.png' %}" alt="..." class="img-fluid">
			</div>
			<div class="col-12 col-md-5 col-lg-4 order-md-1">
				<div>
					<div class="mb-5 text-center">
						<h6 class="h3">Đăng ký</h6>
					</div>
					<span class="clearfix"></span>
					{% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error|escape }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    {% endfor %}
					<form action="" method="post" novalidate="">
						{% csrf_token %}
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="far fa-envelope"></i></span>
								</div>
								{% render_field form.email class="form-control" placeholder="Enter email" %}
							</div>
							{% if form.email.errors %}
                                {% for error in form.email.errors %}
                                <small class="text-danger">
                                    {{ error|escape }}
                                </small>
                                {% endfor %}
                            {% endif %}
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-unlock-alt"></i></span></div>
								{% render_field form.password1 class="form-control" placeholder="Password" %}
								<div class="input-group-append show-password"><span class="input-group-text"><i class="far fa-eye"></i></span></div>
							</div>
							{% if form.password1.errors %}
                                {% for error in form.password1.errors %}
                                <small class="text-danger">
                                    {{ error|escape }}
                                </small>
                                {% endfor %}
                            {% endif %}
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-unlock-alt"></i></span></div>
								{% render_field form.password2 class="form-control" placeholder="Nhập lại password" %}
							</div>
							{% if form.password2.errors %}
                                {% for error in form.password2.errors %}
                                <small class="text-danger">
                                    {{ error|escape }}
                                </small>
                                {% endfor %}
                            {% endif %}
						</div>
						<div class="mt-4"><button type="submit" class="btn btn-block btn-info">Đăng ký</button></div>
					</form>

					<div class="mt-4 text-center">
						<small>Nếu đã có tài khoản hãy</small> <a href="{% url 'account_login' %}" class="small font-weight-bold">Đăng nhập</a></div>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock main %}

{% block scripts %}
<script>
	$(function(){
		$("#id_email").focus();
	})
</script>
{% endblock scripts %}