{% extends "_base.html" %}

{% block title %}
    Xác thực email
{% endblock title %}

{% block main %}
<div class="section-header section-sm text-white bg-secondary overflow-hidden">
</div>
<section class="section section-md" style="height: 50rem;">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-8 col-md-8">
				<h2 class="h1 mb-4 font-weight-light"><span class="font-weight-bold">Yêu cầu xác thực email</h2>
				<p class="lead">Chúng tôi đã gửi một e-mail tới bạn để xác thực e-mail là hợp lệ. Click vào link được gửi trong e-mail để hành tất quá trình đăng nhập.</p>
			</div>
		</div>
	</div>
</section>
{% endblock main %}