{% extends "_base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'vendor/markdown/simplemde.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/highlight-9.11.0/github.min.css' %}">
<script src="{% static 'vendor/highlight-9.11.0/highlight.min.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock stylesheet %}
{% block main %}
<div class="section-header section-sm text-white bg-secondary overflow-hidden">
</div>
<section class="container py-4" style="min-height: 50em">
    {% include "snippets/includes/header.html" %}
    {% block table %}
        
    {% endblock table %}
</section>
{% endblock main %}
{% block scripts %}
<script src="{% static 'vendor/bootstrap-taginput/js/bootstrap-tagsinput.min.js' %}"></script>
<script src="{% static 'vendor/ace/1.3.3/ace.js' %}"></script>

<script src="{% static 'vendor/sweetalert2/sweetalert.min.js' %}"></script>
<script src="{% static 'vendor/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'vendor/jquery-file-upload/jquery.fileupload.js' %}"></script>
<script src="{% static 'vendor/markdown/simplemde.min.js' %}"></script>
<script src="{% static 'vendor/markdown/custom-simplemde.js' %}"></script>
<script src="{% static 'js/snippet.js' %}"></script>
{% endblock scripts %}