{% extends "courses/_base.html" %}

{% block post_detail %}
<div class="border-bottom">
    <h1>{{ course.title }}</h1> 
</div>
<div class="my-5 mb-5">
    {{ course.description|safe }}
</div>
{% if course.price %}
    <a class="btn btn-lg btn-warning p-2" href=""><span class="fas fa-shopping-cart mr-2"></span> Mua ngay ${{ course.price|floatformat:"0" }}</a>
{% endif %}
<hr>
{% endblock post_detail %}