{% extends "_base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
    Các khóa học
{% endblock title %}

{% block main %}
<div class="section section-md section-image overlay-dark text-white overflow-hidden" style="background-image: url('{% static 'img/pages/page-courses.jpg' %}')">
	<div class="container z-2">
		<div class="row">
			<div class="col-lg-8 col-xl-6">
				<h1 class="display-2 mb-3 mt-5">Các khóa học</h1>
				<p class="lead">Bao gồm các khóa học được xây dựng chi tiết nhằm giúp nắm bắt được cách triển khai một ứng dụng thực tế. Bao gồm <b>thiết kế</b>, <b>phát triển</b>, <b>test</b> đến đưa thành <b>sản phẩm</b>.</p>
			</div>
		</div>
	</div>
</div>
<section class="section pb-0 mb-0 section-md pt-5">
	<div class="container">
		
		<div class="row">

			<div class="col-12 mb-4">
				<form action="">
					<div class="card shadow-soft border-light pt-3 pr-5 pb-3 pl-4">
						<div class="row d-flex align-items-center">
							<div class="col-12 col-lg-4 mb-3 mb-lg-0">
								<div class="input-group">
									<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-search"></i></span></div>
									{% render_field filter.form.query class="form-control" placeholder="Tìm kiếm" %}
								</div>
							</div>
							<div class="col-12 col-lg-3 mb-3 mb-lg-0">
								{% render_field filter.form.categories class="custom-select border mr-sm-2" %}
							</div>
							<div class="col-12 col-lg-3 mb-3 mb-lg-0">
								{% render_field filter.form.select class="custom-select border mr-sm-2" %}
							</div>
							<div class="col-12 col-lg-2">
								<button type="submit" class="btn btn-secondary ml-lg-3 animate-up-1">Tìm kiếm</button>
							</div>
						</div>
					</div>
				</form>
			</div>

			{% include "courses/includes/courses_list.html" %}

			<div class="col-12 mb-4">
				{% include "includes/pagination.html" with page=courses %}
			</div>
		</div>
	</div>
</section>
{% endblock main %}
