<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Subscribe</title>
    <style>
    h1 {
        color: red;
    }

    .email-btn {
        background: #10ab7c;
        border-radius: 4px;
        color: #ffffff !important;
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        line-height: 44px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 30px;
    }
    .email-btn-sm {
        line-height: 38px;
    }
    .email-logo {
        height: 40px;
    }

    img {
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
    }

    .email-wraper {
        background: #e0e8f3;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: #758698 !important;
        width: 100%;
    }

    .pdb-4x {
        padding-bottom: 40px;
    }

    .pdt-4x {
        padding-top: 40px;
    }

    .email-header,
    .email-footer {
        width: 100%;
        max-width: 620px;
        margin: 0 auto;
    }

    .pdb-2-5x {
        padding-bottom: 25px;
    }

    .text-center {
        text-align: center !important;
    }

    .email-body {
        width: 96%;
        max-width: 620px;
        margin: 0 auto;
        background: #ffffff;
        border: 1px solid #e6effb;
        border-bottom: 4px solid #10ab7c;
    }

    .pdb-3x {
        padding-bottom: 30px;
    }

    .pd-3x {
        padding: 30px;
    }

    .mgb-1x {
        margin-bottom: 10px;
    }

    .mgb-1-5x {
        margin-bottom: 15px;
    }

    .pdt-2-5x {
        padding-top: 25px;
    }

    .pdr-2x {
        padding-right: 20px;
    }

    .pdl-2x {
        padding-left: 20px;
    }

    .email-copyright-text {
        font-size: 13px;
    }

    ul,
    ol {
        padding: 0px;
        margin: 0px;
    }

    .email-social li {
        display: inline-block;
        padding: 4px;
    }

    .email-social li a {
        display: inline-block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #ffffff;
    }

    .email-wraper a {
        color: #10ab7c;
        word-break: break-all;
    }

    .email-wraper .link-block {
        display: block;
    }

    .email-wraper a {
        color: #10ab7c;
        word-break: break-all;
    }
    .email-heading {
        font-size: 18px;
        color: #1babfe;
        font-weight: 600;
        margin: 0;
    }
    </style>
</head>

<body>
    <table class="email-wraper">
        <tbody>
            <tr>
                <td class="pdt-4x pdb-4x">
                    <table class="email-header">
                        <tbody>
                            <tr>
                                <td class="text-center pdb-2-5x">
                                	<a href="https://djangobat.com/"><img class="email-logo" src="https://djangobat-media.s3.amazonaws.com/static/img/brand/dark.png" alt="logo"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="email-body">
                        <tbody>
                            <tr>
                                <td class="text-center pd-3x pb-0">
                                    <img src="{{ img_link }}" alt="image">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center pd-3x pdt-1-5x pdb-0-5x">
                                    <h2 class="email-heading">{{ title }}</h2>
                                    <p class="mgb-1-5x">{{ overview|safe }}</p>
                                    <a href="{{ link }}" class="email-btn email-btn-sm">{{ link_text }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>