{% load user_tag %}
{% load static %}
{% load thumbnail %}

{% for course in courses %}
<div class="col-md-6 col-lg-4 my-2">
  <div class="card h-100 d-flex flex-column justify-content-between shadow-soft border-light">
            {% if course.image %}
            <img src="{{ course.image.url }}" class="card-img-top" alt="image">
            {% endif %}
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div class="mr-2">
                        <h6 class="icon-secondary mb-0 small"><i class="mr-2 fas fa-code"></i>{{ course.categories.all|join:", " }}</h6>
                    </div>
                    <div class="post-meta lh-100"><a href="#" class="mr-3 small"><i class="far fa-eye mr-1"></i>{{ course.views }}</a> <span class="small"><i class="far fa-clock text-info mr-2"></i>{{ course.created|date:'d/m/Y' }}</span></div>
                </div>
            </div>
            <div class="card-body d-flex flex-column py-0">
                <a href="{{ course.get_absolute_url }}">
                    <h5 class="font-weight-normal">{{ course.title }}</h5>
                </a>
                <div class="d-flex">
                    <div class="media">
                        <div class="avatar-sm mr-1">
                            {% if course.owner.photo %}
                                {% thumbnail course.owner.photo "24x24" crop="center" as im %}
                                <img class="img-fluid rounded-circle" src="{{ im.url }}" alt="avatar">
                                {% endthumbnail %}
                            {% else %}
                                <div class="user-photo {{ course.owner|bg_color }}">{{ course.owner.get_word_avatar }}</div>
                            {% endif %}
                        </div>
                        <div class="avatar-name">
                            <a class="text-gray small" href="#">{{ course.owner.username }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                    <a class="btn btn-sm btn-outline-secondary animate-up-2 p-2" href="{{ course.get_absolute_url }}"> Xem khóa học</a>
                    {% if course.price %}
                        <a class="btn btn-sm btn-warning animate-up-2 p-2" href=""><span class="fas fa-shopping-cart mr-2"></span>${{ course.price|floatformat:"0" }} Mua ngay</a>
                    {% else %}
                        <button class="btn btn-sm btn-warning animate-up-2 p-2"><span class="fas fa-shopping-cart mr-2"></span> Miễn phí</button>
                    {% endif %}
                </div>
            </div>
        </div>
</div>
{% empty %}
No item!
{% endfor %}