<a data-url="{% url 'like_comment' comment.id %}" class="js-like-comment">
    <i class="far fa-thumbs-up text-action {% if request.user in comment.like.all %}text-success{% else %}text-light{% endif %} mr-1"></i>
</a>
<span class="font-small font-weight-light mr-2">{{ comment.like.count }}</span>

<a data-url="{% url 'dislike_comment' comment.id %}" class="js-dislike-comment">
    <i class="far fa-thumbs-down text-action {% if request.user in comment.dislike.all %}text-danger{% else %}text-light{% endif %} mr-1"></i>
</a>
<span class="font-small font-weight-light">{{ comment.dislike.count }}</span>