{% extends "courses/_base.html" %}
{% load widget_tweaks %}
{% block title %}
{{ post.title }}
{% endblock title %}
{% block post_detail %}

<div class="border-bottom">
    <h1>{{ post.title }} <a href="#comments" class="text-info module-post float-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bình luận"><i class="far fa-comments"></i> <small class="h5">{{ post.comments.count }}</small></a></h1>

    <div class="my-4">
        {{ post.overview|safe }}
    </div>
    
    <div class="justify-content-between align-items-center d-none d-md-flex">
        <div class="mb-3">
            <button class="btn btn-sm platform mr-2 mb-2 btn-icon btn-outline-tertiary" data-platform="linux" type="button">
                <span class="btn-inner-icon"><i class="fab fa-linux"></i></span>
                <span class="btn-inner-text">Linux</span>
            </button>
            <button class="btn btn-sm platform mr-2 mb-2 btn-icon btn-outline-info" data-platform="windows" type="button">
                <span class="btn-inner-icon"><i class="fab fa-windows"></i></span>
                <span class="btn-inner-text">windows</span>
            </button>
            <button class="btn btn-sm platform mr-2 mb-2 btn-icon btn-outline-gray" data-platform="mac" type="button">
                <span class="btn-inner-icon"><i class="fab fa-apple"></i></span>
                <span class="btn-inner-text">Mac</span>
            </button>
        </div>
    </div>
</div>
{% for module in post.modules.all %}
<h2 class="mt-5 mb-4" id="module-{{ module.pk }}">{{ module.title }}</h2>
<p>
    {{ module.description|safe }}
</p>
{% endfor %}
<hr>

{% include "courses/part/includes/next_pre.html" %}

<footer class="mt-7">
    <aside class="row" id="comments">
        <div class="col-12">
            <h4 class="mb-4"><span class="badge badge-md badge-secondary text-uppercase mr-2" id='js-num-comments'>{{ post.count_comments }}</span> Bình luận</h4>
            <div>
                {% if request.user.is_authenticated %}
                <form action="{% url 'create_comment' post.id %}" method="post" id="js-comment-form" novalidate>
                    {% render_field comment_form.content class="form-control border" data-simplemde="simplemde-0" placeholder="Viết bình luận" rows="6" maxlength="1000" %}
                    <div class="d-flex justify-content-between mt-3">
                        <small class="font-weight-light">Tối đa 1000 ký tự</small>
                        <button class="btn btn-secondary animate-up-2" id="js-submit-comment" type="submit">Bình luận</button>
                    </div>
                </form>
                {% else %}
                    <p class="lead">Hãy <a href="{% url 'account_login' %}?next={{ request.path }}#comments">Đăng nhập</a> để bình luận</p>
                {% endif %}
                <div class="mt-5 comment-list">
                    {% include "blog/comment/list.html" %}
                </div>
                
                <div class="mt-5 text-center">
                    <button class="btn btn-primary" id="loadComment" style="display: none" type="button" disabled="disabled"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> <span class="ml-1 btn-inner-text">Loading...</span></button>
                </div>
                <div class="mt-5 text-center">

                    <button class="btn btn-white shadow-soft border-soft text-gray js-load-comment" data-page="2" data-url="{% url 'load_comment' post.id %}" type="button">
                        <span class="spinner-border spinner-border-sm js-icon-loading" style="display: none" role="status" aria-hidden="true"></span>
                        {% if comments.has_next %}
                            <span class="ml-1 btn-inner-text js-loading">Xem thêm bình luận</span>
                        {% endif %}
                    </button>
                    
                </div>
            </div>
        </div>
    </aside>
</footer>
{% endblock post_detail %}
