{% load snippets %}
{% for snippet in snippets %}
<tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td><a href="{% url 'snippet_detail' snippet.slug %}">{{ snippet.title }}</a></td>
    <td>{{ snippet.created|date:"H:i d/m/Y" }}</td>
    <td>
        {{ snippet.views }}
    </td>
    <td>
        {% if snippet.total_rating > 0 %}+{% endif %}{{ snippet.total_rating }}
    </td>
    <td>
        <div class="d-flex">
            <a href="{% url 'snippet_update' snippet.slug %}">
                <i class="fas fa-edit mr-3" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chỉnh sửa snippet"></i>
            </a>
            <a class="js-delete-snippet"
                data-url="{% url 'ajax_delete_snippet' snippet.slug %}">
                <i class="fas fa-trash text-danger mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Xóa snippet"></i>
            </a>
        </div>
    </td>
</tr>
{% endfor %}
