{% extends "users/_base.html" %}
{% block title %}
Snippets
{% endblock title %}
{% block content %}
<div class="col-12" style="height: 50rem;">
    <form action="." class="row my-3">
        <div class="col-12 col-lg-4">
            <div class="form-group mb-lg-0">
                <div class="input-group input-group-md mb-lg-0">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-search"></i></span></div><input class="form-control" id="id_title" name="title" placeholder="Tên snippet" type="text">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-2"><button class="btn btn-secondary btn-block mt-md-0 animate-up-2" type="submit">Tìm kiếm</button></div>
    </form>
    <div class="media justify-content-between">
        <h4 class="mb-3">Danh sách snippet của bạn</h4>
        <a href="{% url 'snippet_create' %}" class="btn mb-3 btn-icon btn-pill btn-info text-white" type="button">
            <span class="btn-inner-icon"><i class="fas fa-plus"></i></span>
            <span class="btn-inner-text">Thêm snippet</span>
        </a>
    </div>
    <div class="card shadow-soft border">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Ngày đăng</th>
                    <th scope="col">Lượt xem</th>
                    <th scope="col">Rating</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="modal-data">
                {% include "users/snippets/list.html" %}
            </tbody>
        </table>
    </div>
    <div class="my-3">
        {% include "includes/pagination.html" with page=snippets %}
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
$(function() {
    var loadForm = function() {
        let el = $(this);
        $.ajax({
            url: el.attr('data-url'),
            type: 'get',
            dataType: 'json',
            beforeSend: function() {
                $("#modal-root").modal("show");
            },
            success: function(data) {
                $('#modal-root .modal-content').html(data.html_form);
            }
        })
    };

    var submitDataForm = function() {
        let form = $(this);
        $.ajax({
            url: form.attr('action'),
            dataType: 'json',
            type: 'post',
            data: form.serialize(),
            success: function(data) {
                if (data.is_valid) {
                    $('#modal-data').html(data.html_data);
                    $('#modal-root').modal('hide');
                }
            }
        });

        return false;
    };

    $('#modal-data').on('click', 'a.js-delete-snippet', loadForm);
    $('#modal-root').on('submit', 'form#js-form-snippets', submitDataForm);
});
</script>
{% endblock scripts %}