{% load blog_tags %}
<aside class="col-md-6 col-lg-4 col-xl-3 d-none d-lg-block">
    {% comment %}
    <div class="card shadow-soft border-light text-center">
        <header class="card-header border-bottom bg-secondary text-white text-center font-weight-bold ">
            SUBSCRIBE NOW
        </header>
        <div class="card-body">
            <p class="card-text my-2">Đăng ký nhận thông tin các bài viết và khóa học mới nhất qua email</p>
            <h6 class="font-weight-bold float-left">Nhập email</h6>
            {% show_subscribe_form %}
        </div>
    </div>
    {% endcomment %}

    {% top_snippet_tags %}

    <div class="card shadow-soft border-soft p-3 mt-4">
        <div class="fb-page" data-href="https://www.facebook.com/djangbat" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/djangbat" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/djangbat">Djangobat</a></blockquote>
        </div>
    </div>
    {% show_popular_posts %}
    <h5 class="my-4">Tags</h5>
    {% show_tags %}
    {% if post %}
    <div class="sticky">
        <div class="card shadow-soft border-light my-4">
            <div class="m-2">
                <h5 class="font-weight-bold">Nội dung:</h5>
                <div class="" id="myScrollspy">
                    <ul class="pl-4 table-content">
                        {% for module in post.modules.all %}
                        <li>
                            <a class="nav-link module-post {% if forloop.first %}active{% endif %} pl-0" href="#module-{{ module.pk }}">{{ module.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</aside>