<form action="{% url 'ajax_update_post_like' post.slug %}" method="post" id="form-like">
    {% csrf_token %}
    {% if like %}
    <button type="submit" class="btn mr-2 btn-sm btn-pill btn-icon-only btn-danger"><span class="btn-inner-icon"><i class="far fa-heart"></i></span></span>
    </button>
    {% else %}
    <span class="mr-2">Like bài viết: </span>
    <button type="submit" class="btn mr-2 btn-sm btn-pill btn-icon-only btn-outline-danger"><span class="btn-inner-icon"><i class="far fa-heart"></i></span></button>
    {% endif %}
    <span class="mr-3">{{ post.like }} like{{ post.like|pluralize }}</span>

</form>