{% load thumbnail %}
{% load static %}
<div class="card shadow-soft border-soft p-3 mt-4">
    <h5 class="mb-4">Bài viết phổ biến</h5>
    <ul class="list-unstyled news-list">
        {% for post in posts %}
        <li class="row mx-0 mb-4">
            {% if post.image %}
            <a href="{{ post.get_absolute_url }}" class="col-3">
                {% thumbnail post.image '47x46' crop="center" as im %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="rounded">
                {% endthumbnail %}
            </a>
            
            {% endif %}
            <div class="col">
                <a href="{{ post.get_absolute_url }}">
                    <h6 class="mb-1">{{ post.title }}</h6>
                </a>
                <div class="post-meta font-small">
                    <a class="text-dark mr-2"><i class="far fa-eye mr-2"></i>{{ post.views }}</a>
                    <span><i class="far fa-clock text-info mr-2"></i>{{ post.created|date:"d/m/Y" }}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>