{% for post in posts %}
<div class="col-md-6 col-lg-4 my-2">
    <div class="card h-100 d-flex flex-column justify-content-between shadow-soft border-light" style="border-radius: .35rem;">
        {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top" alt="image">
        {% endif %}
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="post-meta">
                    <a class="mr-3"><i class="far text-danger fa-heart mr-2"></i>{{ post.like }}</a>
                    <a class="mr-3"><i class="far text-black fa-eye mr-2"></i>{{ post.views }}</a>
                    <span class="font-small"><i class="far fa-clock text-info mr-2"></i>{{ post.created|date:"d/m/Y" }}</span>
                </div>
            </div>
        </div>
        <div class="card-body d-flex flex-column py-0">
            <a href="{% url 'post_detail' post.slug %}">
                <h4>{{ post.title }}</h4>
            </a>
            {{ post.overview|safe|linebreaks|truncatewords:25 }}
        </div>
        <div class="card-footer">
            <a class="btn btn-sm btn-outline-secondary animate-up-2" href="{% url 'post_detail' post.slug %}"><span class="fas fa-arrow-right mr-2 animate-up-2"></span> Xem thêm</a>
        </div>
    </div>
</div>
{% endfor %}