{% load static %}
{% load thumbnail %}
{% load blog_tags %}
{% load humanize %}

{% for post in posts %}
<div class="blog-card">
    <div class="card shadow-soft border-soft p-0 p-md-4">
        <div class="card-body py-2">
            {% if post.image %}
            <a href="{{ post.get_absolute_url }}">
                <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
            </a>
            {% endif %}
        </div>
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="post-meta">
                    <a class="mr-3"><i class="far text-danger fa-heart mr-2"></i>{{ post.like }}</a>
                    <a class="mr-3"><i class="far text-black fa-eye mr-2"></i>{{ post.views }}</a>
                    <span class="font-small"><i class="far fa-clock text-info mr-2"></i>{{ post.created|naturaltime }}</span>
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <a href="{{ post.get_absolute_url }}">
                <h4>{{ post.title }}</h4>
            </a>
            <p class="card-text my-2">
            	{{ post.overview|safe|linebreaks|truncatewords:25 }}
            </p>
        </div>
        <div class="card-footer mx-4 px-0 pt-0">
            <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                <div class="post-details mb-3 mb-lg-0">
                    <a href="{{ post.get_absolute_url }}" role="button" class="btn btn-sm btn-outline-secondary animate-hover mr-2"><span class="fas fa-arrow-right mr-2 animate-up-2"></span> Đọc thêm</a></div>
                <div class="post-meta">
                    <div class="wi-tags">
                    	{% for tag in post.tags.all %}
                    	<a href="{% url 'post_list_by_tag' tag.slug %}">{{ tag }} <span class="badge badge-secondary">{{ tag|count_posts_by_tag }}</span></a>
                    	{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}