{% for post in similar_posts %}
<div class="col-12 col-lg-4 my-2">
    <div class="card h-100">
        <div class="card h-100 d-flex flex-column justify-content-between shadow-soft border-light">
            {% if post.image %}
            <a href="{{ post.get_absolute_url }}">
                <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
            </a>
            {% endif %}
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div class="post-meta">
                        <a class="mr-3"><i class="far text-danger fa-heart mr-2"></i>{{ post.like }}</a>
                        <a class="mr-3"><i class="far text-black fa-eye mr-2"></i>{{ post.views }}</a>
                        <span class="font-small"><i class="far fa-clock text-info mr-2"></i>{{ post.created|date:"d/m/Y" }}</span>
                    </div>
                </div>
            </div>
            <div class="card-body py-0">
                <a href="{{ post.get_absolute_url }}">
                    <h5>{{ post.title }}</h5>
                </a>
                <p class="card-text">
                    {{ post.overview|safe|linebreaks|truncatewords:20 }}
                </p>
            </div>
            <div class="card-footer">
                <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                    <div class="post-details mb-3 mb-lg-0">
                        <a href="{{ post.get_absolute_url }}" role="button" class="btn btn-sm btn-outline-secondary animate-hover mr-2"><span class="fas fa-arrow-right mr-2 animate-up-2"></span> Đọc thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}