{% load blog_tags %}
<ul class="list-group list-group-flush bg-white shadow-soft border border-light">
    {% for tag in tags %}
    <li class="list-group-item d-flex justify-content-between align-items-center border-0">
        <a href="{% url 'snippets_list_by_tag' tag.slug %}">{{ tag.name }}</a>
        <span class="badge {{ tag|fill_color_tag }} badge-pill">{{ tag|count_snippets_by_tag }}</span>
    </li>
    {% endfor %}
</ul>