{% load widget_tweaks %}
<form action="{% url 'subscribe_submit' %}" method="post" class="js-subscribe-form">
    {% csrf_token %}
     {% render_field subscribe_form.email class="form-control mb-2" placeholder="Email" %}
    <small class="msg msg-error text-danger">

    </small>
    <small class="msg msg-success text-success">

    </small>
    <button type="submit" class="btn btn-icon btn-tertiary btn-block animate-up-1 mt-2" tabindex="0">
        <span class="btn-inner-icon"><i class="far fa-envelope"></i></span>
        <span class="btn-inner-text">subscribe</span>
    </button>
</form>