{% load blog_tags %}
<div class="wi-tags">
    {% for tag in tags %}
		<a href="{% url 'post_list_by_tag' tag.slug %}" role="button" class="btn">{{ tag }} <span class="badge badge-secondary">{{ tag|count_posts_by_tag }}</span></a>
    {% endfor %}
</div>