{% extends "_base.html" %}
{% load static %}
{% block title %}
Giới thiệu
{% endblock title %}
{% block main %}
<div class="section-header section-image text-white overflow-hidden pt-7 pb-7 pt-md-4 pb-md-5 pt-lg-7 bg-secondary" style="background-image: url({% static 'img/pages/page-about.jpg' %});">
    <div class="container z-2">
        <div class="row my-5 my-md-7 justify-content-center text-center">
            <div class="col-lg-10">
                <h1 class="display-2 mb-3">DJANGOBAT</h1>
                <h2 class="h5 font-weight-normal mb-3"><i class="fas fa-map-marker-alt mr-2"></i>Hà Nội, Việt Nam</h2>
                <ul class="social-buttons list-inline">
                    <li class="list-inline-item"><a href="https://github.com/djangobat" target="_blank" class="btn btn-link btn-github text-white"><i class="fab fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/djangbat/" target="_blank" class="btn btn-link btn-facebook text-white"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCAjNN6-iBsOjlwAf_2yQNSA" target="_blank" class="btn btn-link btn-youtube text-white"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section section-md pt-0">
    <div class="container">
        <div class="card bg-transparent mt-n9 mt-lg-n8 mt-xl-n7 border-0">
            <div class="px-4">
                <div class="row justify-content-center">
                    <div class="col-8 col-sm-6 col-md-6 col-lg-3">
                        <div class="card-profile-image bg-white p-2 rounded"><a href="#"><img src="{% static 'img/pages/avatar2.png' %}" class="rounded" alt="image"></a></div>
                    </div>
                </div>
                <div class="mt-5 border-top text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <p class="lead pt-5">
                                Trang web nhằm chia sẻ và cung cấp một nguồn tài liệu cho các bạn tham khảo bổ ích trong quá trình học Django, Web Development. Bao gồm từ việc thiết kế, phát triển và đưa thành sản phẩm thực tế.
                            </p>
                            <a href="{% url 'courses_list' %}" role="button" class="btn btn-secondary ml-lg-3 animate-up-2 mt-4"><i class="fas fa-list mr-2"></i>Các khóa học</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section section-md bg-soft">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8 text-center mx-auto">
                <h2 class="h1 font-weight-light mb-4">Những gì trang cung cấp</h2>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card shadow-sm border-light mb-4">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div>
                                <div class="icon icon-primary"><i class="fas fa-graduation-cap"></i></div>
                            </div>
                            <div class="pl-4">
                                <h5 class="icon-box-title">Các khóa học</h5>
                                <p class="icon-box-text">
                                	Bao gồm các khóa học về Python, Django Framework và Web Development và Framework liên quan như VueJS, React, Angular...
                                </p><a href="{% url 'courses_list' %}" class="btn btn-link text-dark btn-icon"><span class="btn-inner-text font-weight-bold">Các khóa học</span> <span class="btn-inner-icon"><i class="fas fa-link"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card shadow-sm border-light mb-4">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div>
                                <div class="icon icon-secondary"><i class="fas fa-file-alt"></i></div>
                            </div>
                            <div class="pl-4">
                                <h5 class="icon-box-title">Các bài viết</h5>
                                <p class="icon-box-text">Là những bài viết chia sẻ, các hướng dẫn về những vấn đề hay gặp. Có các ví dụ minh họa và code đầy đủ.</p><a href="{% url 'post_list' %}" class="btn btn-link text-dark btn-icon"><span class="btn-inner-text font-weight-bold">Các bài viết</span> <span class="btn-inner-icon"><i class="fas fa-link"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card shadow-sm border-light mb-4">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div>
                                <div class="icon icon-tertiary"><i class="far fa-life-ring"></i></div>
                            </div>
                            <div class="pl-4">
                                <h5 class="icon-box-title">Hỗ trợ</h5>
                                <p class="icon-box-text">Bạn sẽ nhận được những chia sẻ, hỗ trợ qua e-mail giải quyết những vấn đề bạn thắc mắc về web development.</p><a href="{% url 'contact' %}" class="btn btn-link text-dark btn-icon"><span class="btn-inner-text font-weight-bold">Liên hệ ngay</span> <span class="btn-inner-icon"><i class="fas fa-link"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card shadow-sm border-light mb-4">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div>
                                <div class="icon icon-warning"><i class="fas fa-cog"></i></div>
                            </div>
                            <div class="pl-4">
                                <h5 class="icon-box-title">Dịch vụ khác</h5>
                                <p class="icon-box-text">Trang cũng nhận các yêu cầu và dịch vụ khác như dạy online, hỗ trợ dự án, nhận làm dự án về Web App.</p><a href="{% url 'contact' %}" class="btn btn-link text-dark btn-icon"><span class="btn-inner-text font-weight-bold">Liên hệ ngay</span> <span class="btn-inner-icon"><i class="fas fa-link"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main %}
{% block scripts %}
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
{% endblock scripts %}