{% extends "_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Liên hệ
{% endblock title %}
{% block main %}
<section class="section section-md section-image bg-secondary" style="background-image: url({% static 'img/pages/page-contact.jpg' %});">
    <div class="container">
        <div class="row mt-4 mt-lg-6 justify-content-center">
            <div class="col-md-10 col-lg-10">
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error|escape }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                {% endfor %}
                <form action="{% url 'contact' %}" method="post" class="card shadow-sm border-light p-2 p-md-3 p-lg-5">
                    {% csrf_token %}
                    <div class="card-header">
                        <h4>Liên hệ</h4>
                        <p>Hãy gửi biết những câu hỏi, ý kiến hoặc yêu cầu về vấn đề của bạn và tôi sẽ phản hồi hoặc liên hệ lại bạn sớm.</p>
                    </div>
                    <div class="card-body pt-0">
                        {% if success %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <p class="lead">Tin nhắn đã được gửi. Chúng tôi sẽ sớm phản hồi bạn.</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-user"></i></span>
                                </div>
                                {% render_field form.name class="form-control" placeholder="Tên của bạn" %}
                            </div>
                            {% if form.name.errors %}
                            {% for error in form.name.errors %}
                            <small class="text-danger">
                                {{ error|escape }}
                            </small>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                </div>
                                {% render_field form.email class="form-control" placeholder="Email của bạn" %}
                            </div>
                            {% if form.email.errors %}
                            {% for error in form.email.errors %}
                            <small class="text-danger">
                                {{ error|escape }}
                            </small>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {% render_field form.contact_type class="form-control" %}
                        </div>
                        <div class="form-group">
                            {% render_field form.content class="form-control" placeholder="Nội dung" rows="3" %}
                        </div>
                        {% if form.content.errors %}
                        {% for error in form.content.errors %}
                        <small class="text-danger">
                            {{ error|escape }}
                        </small>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="card-footer mx-4 px-0 pt-0">
                        <button type="submit" class="btn btn-block btn-secondary animate-up-2">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock main %}