{% extends "_base.html" %}
{% load static %}
{% load thumbnail %}
{% load user_tag %}
{% load widget_tweaks %}
{% block title %}
Djangobat - khóa học Django, Web Development
{% endblock title %}
{% block main %}
<div class="section-header section-sm text-white bg-secondary overflow-hidden">
</div>
<section class="section bg-secondary text-white overflow-hidden z-2">
    <div class="container z-2">
        <div class="row justify-content-center text-center pt-6 pb-4 mb-2">
            <div class="col-lg-8 col-xl-8">
                <h1 class="display-1 font-weight-light mb-3"><span class="font-weight-bolder ml-3">django</span><span class="pixel-pro-badge font-weight-bolder text-primary">VN</span></h1>
                <p class="lead px-xl-5 mb-5">Trang web gồm các khóa học, bài viết về <span class="font-weight-bold">Python, Django, Web Application</span> và các công nghệ liên quan.</p>
                <div class="d-flex flex-column flex-wrap flex-md-row justify-content-md-center">
                    <div><a href="{% url 'courses_list' %}" role="button" class="btn btn-tertiary mb-3 mt-2 mr-md-4 animate-up-2"><i class="fas fa-graduation-cap mr-2"></i> Các khóa học</a></div>
                    <div><a href="{% url 'contact' %}" role="button" class="btn btn-primary mt-2 animate-up-2"><i class="fas fa-id-card mr-2"></i> Liên hệ</a></div>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block">
            <i class="fab fa-js index-icon floating-sm index-icon-javascript"></i>
            <i class="fab fa-bootstrap index-icon floating-sm index-icon-bootstrap"></i>
            <i class="fab fa-react index-icon index-icon-code"></i>
            <i class="fab fa-vuejs index-icon index-icon-vuejs"></i>
            <i class="fab fa-html5 index-icon floating-sm index-icon-html5"></i>
            <i class="fab fa-css3-alt index-icon index-icon-css3"></i>
            <i class="fab fa-docker index-icon index-icon-npm floating-md"></i>
            <i class="fab fa-python index-icon index-icon-fontawesome"></i>
            <i class="fab fa-aws index-icon index-icon-illustrations"></i>
        </div>
    </div>
</section>
<section class="section section-lg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-6">
                <h1 class="font-weight-light">Các <span class="font-weight-bold">Khóa học</span></h1>
            </div>
            {% include "courses/includes/courses_list.html" %}
        </div>
        <div class="mt-4 d-flex flex-column text-center">
            <div><a href="{% url 'courses_list' %}" class="btn btn-success animate-up-2 mb-2"><i class="fas fa-list mr-2"></i>Xem tất cả</a></div>
        </div>
    </div>
</section>
<section class="section section-sm">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-10 col-xl-12">
                <h1 class="font-weight-light mb-4"><span class="font-weight-bold">Bài viết</span> gần đây</h1>
            </div>
        </div>
        <div class="row mt-6">
            {% include "blog/includes/posts_list_home.html" %}
        </div>
        <div class="mt-4 d-flex flex-column text-center">
            <div><a href="{% url 'post_list' %}" class="btn btn-secondary animate-up-2 mb-2"><i class="fas fa-list mr-2"></i>Xem tất cả</a></div>
        </div>
    </div>
</section>
<section class="section section-md bg-soft">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8 text-center mx-auto">
                <h2 class="h1 font-weight-light mb-4">Những gì trang cung cấp</h2>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card shadow-sm border-light mb-4">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div>
                                <div class="icon icon-primary"><i class="fas fa-graduation-cap"></i></div>
                            </div>
                            <div class="pl-4">
                                <h5 class="icon-box-title">Các khóa học</h5>
                                <p class="icon-box-text">
                                    Bao gồm các khóa học về Python, Django Framework và Web Development và Framework liên quan như VueJS, React, Angular...
                                </p><a href="{% url 'courses_list' %}" class="btn btn-link text-dark btn-icon"><span class="btn-inner-text font-weight-bold">Các khóa học</span> <span class="btn-inner-icon"><i class="fas fa-link"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card shadow-sm border-light mb-4">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div>
                                <div class="icon icon-secondary"><i class="fas fa-file-alt"></i></div>
                            </div>
                            <div class="pl-4">
                                <h5 class="icon-box-title">Các bài viết</h5>
                                <p class="icon-box-text">Là những bài viết chia sẻ, các hướng dẫn về những vấn đề hay gặp. Có các ví dụ minh họa và code đầy đủ.</p><a href="{% url 'post_list' %}" class="btn btn-link text-dark btn-icon"><span class="btn-inner-text font-weight-bold">Các bài viết</span> <span class="btn-inner-icon"><i class="fas fa-link"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card shadow-sm border-light mb-4">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div>
                                <div class="icon icon-tertiary"><i class="far fa-life-ring"></i></div>
                            </div>
                            <div class="pl-4">
                                <h5 class="icon-box-title">Hỗ trợ</h5>
                                <p class="icon-box-text">Bạn sẽ nhận được những chia sẻ, hỗ trợ qua e-mail giải quyết những vấn đề bạn thắc mắc về web development.</p><a href="{% url 'contact' %}" class="btn btn-link text-dark btn-icon"><span class="btn-inner-text font-weight-bold">Liên hệ ngay</span> <span class="btn-inner-icon"><i class="fas fa-link"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card shadow-sm border-light mb-4">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div>
                                <div class="icon icon-warning"><i class="fas fa-cog"></i></div>
                            </div>
                            <div class="pl-4">
                                <h5 class="icon-box-title">Dịch vụ khác</h5>
                                <p class="icon-box-text">Trang cũng nhận các yêu cầu và dịch vụ khác như dạy online, hỗ trợ dự án, nhận làm dự án về Web App.</p><a href="{% url 'contact' %}" class="btn btn-link text-dark btn-icon"><span class="btn-inner-text font-weight-bold">Liên hệ ngay</span> <span class="btn-inner-icon"><i class="fas fa-link"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <h1 class="font-weight-light">Các <span class="font-weight-bold">công cụ</span> sử dụng</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-4 mt-lg-6">
            <div class="col">
                <ul class="d-flex flex-wrap justify-content-center list-unstyled">
                    <li class="mx-xl-4 mx-3 mb-5"><img class="img-fluid image-sm" src="{% static 'img/tools/heroku.svg' %}" alt="image"></li>
                    <li class="mx-xl-4 mx-3 mb-5"><img class="img-fluid image-sm" src="{% static 'img/tools/python.svg' %}" alt="image"></li>
                    <li class="mx-xl-4 mx-3 mb-5"><img class="img-fluid image-sm" src="{% static 'img/tools/angular.svg' %}" alt="image"></li>
                    <li class="mx-xl-4 mx-3 mb-5"><img class="img-fluid image-sm" src="{% static 'img/tools/aws.svg' %}" alt="image"></li>
                    <li class="mx-xl-4 mx-3 mb-5"><img class="img-fluid image-sm" src="{% static 'img/tools/django.svg' %}" alt="image"></li>
                    <li class="mx-xl-4 mx-3 mb-5"><img class="img-fluid image-sm" src="{% static 'img/tools/django-rest.png' %}" alt="image"></li>
                    <li class="mx-xl-4 mx-3 mb-5"><img class="img-fluid image-sm" src="{% static 'img/tools/docker.svg' %}" alt="image"></li>
                    <li class="mx-xl-4 mx-3 mb-5"><img class="img-fluid image-sm" src="{% static 'img/tools/flask.jpg' %}" alt="image"></li>
                    <li class="mx-xl-4 mx-3 mb-5"><img class="img-fluid image-sm" src="{% static 'img/tools/postgresql.svg' %}" alt="image"></li>
                    <li class="mx-xl-4 mx-3 mb-5"><img class="img-fluid image-sm" src="{% static 'img/tools/react.svg' %}" alt="image"></li>
                    <li class="mx-xl-4 mx-3 mb-5"><img class="img-fluid image-sm" src="{% static 'img/tools/vue.svg' %}" alt="image"></li>
                    <li class="mx-xl-4 mx-3 mb-5"><img class="img-fluid image-sm" src="{% static 'img/tools/github.svg' %}" alt="image"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center text-white">
                <h2 class="font-weight-light"><span class="font-weight-bolder">Subscribe</span></h2>
                <p class="lead">Đăng ký nhận thông tin các bài viết và khóa học mới nhất qua email</p>
                <form action="{% url 'subscribe_submit' %}" method="post" class="js-subscribe-form">
                    {% csrf_token %}
                    <div class="form-group mt-5">
                        <div class="d-flex flex-row mt-5 justify-content-center">
                            <div class="input-group">
                                {% render_field subscribe_form.email class="form-control bg-white form-control-xl bg-soft border-0" placeholder="Nhập email của bạn" type="email" %}
                                <div class="input-group-prepend"><button type="submit" class="btn btn-soft shadow-none bg-white"><i class="far fa-paper-plane px-2 icon-md"></i></button></div>
                            </div>
                        </div>
                        <p class="msg msg-error text-danger mb-2">
                        </p>
                        <p class="msg msg-success text-success mb-2">
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock main %}