{% extends "_base.html" %}
{% block title %}
Điều khoản sử dụng
{% endblock title %}
{% block main %}
<div class="section-header text-white bg-secondary overflow-hidden">
    <div class="container z-2 text-center">
        <div class="row"><div class="col-12 text-center mb-3 mt-5"><h1 class="display-2 font-weight-bolder mb-4">Điều khoản sử dụng</h1><p class="lead">Bao gồm các điều khoản và điều kiện khi sử dụng các dịch vụ trong trang web này</p></div></div>
    </div>
</div>
<article class="section section-md bg-soft text-dark line-bottom-soft">
    <div class="container" style="height: 50rem;">
        <div class="row">
            <div class="col">
                <h2 class="h3 mb-4">Điều khoản chung</h2>
                <p>
                	Khi truy cập vào trang có nghĩa là bạn phải tuân thủ theo những điều khoản và điều kiệ sử dụng dịch vụ. Không được sử dụng trái phép các điều khoản và dịch vụ của <b>djangobat</b>.
                </p>

                <h2 class="h3 mb-4">Sản phẩm</h2>
                <p>
					Tất cả các nội dung bạn có quyền truy cập bao gồm các bài viết, các khóa học, video, code... các bạn có thể xem và download và sử dụng cho cá nhân.
                </p>

                <p class="mb-5">
                	<b>Djangobat</b> không cho phép bất cứ cá nhân hay tổ chức nào có quyền sử dụng nội dụng bao gồm bài viết, khóa học, video của chúng tôi nhằm sử dụng trong dịch vụ khác của họ mà chưa được sự cho phép hoặc đồng ý.
                </p>

                <h2 class="h3 mb-4">Bảo mật</h2>
                
                <p class="mb-5">
                	Mọi thanh toán đều được thực hiện qua bên thứ ba là <a href="https://www.paypal.com/vn/" target="_blank">PayPal</a> hoặc <a href="https://stripe.com/" target="_blank">Stripe</a> vì thế đảm bảo tính bảo mật thông tin và an toàn khi sử dụng.
                </p>

                <hr class="border-variant-soft mt-6 mb-5">
                <div class="text-center justify-content-center">
                    <p class="font-weight-light">Nếu bạn có câu hỏi khác hãy <a href="{% url 'contact' %}" class="font-weight-bold text-primary">Liên hệ</a></p>
                </div>

            </div>
        </div>
    </div>
</article>
{% endblock main %}